node-red-sense-hat/node-red-dashboard/code/1-display-sensor-data.json
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"a44e6786.c43cd8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"pidevice007","applicationId":"","deviceType":"raspberrypi","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8","292c0795.430c08","de269f44.347718","7238aaeb.92148c"]]},{"id":"ae0082ac.51ff8","type":"function","z":"a44e6786.c43cd8","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"a44e6786.c43cd8","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"a44e6786.c43cd8","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"a44e6786.c43cd8","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"a44e6786.c43cd8","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","output":"str","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"a44e6786.c43cd8","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","output":"str","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"a44e6786.c43cd8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"a44e6786.c43cd8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"a44e6786.c43cd8","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : 12000,//temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"a44e6786.c43cd8","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"a44e6786.c43cd8","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"a44e6786.c43cd8","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"a44e6786.c43cd8","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"a44e6786.c43cd8","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"a44e6786.c43cd8","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"292c0795.430c08","type":"ui_text","z":"a44e6786.c43cd8","group":"6ba8ddcf.046044","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload.d.temp}}","layout":"row-spread","x":300,"y":580,"wires":[]},{"id":"de269f44.347718","type":"ui_text","z":"a44e6786.c43cd8","group":"6ba8ddcf.046044","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload.d.humidity}}","layout":"row-spread","x":290,"y":620,"wires":[]},{"id":"7238aaeb.92148c","type":"ui_text","z":"a44e6786.c43cd8","group":"6ba8ddcf.046044","order":0,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload.d.pressure}}","layout":"row-spread","x":290,"y":660,"wires":[]},{"id":"6ba8ddcf.046044","type":"ui_group","z":"","name":"Sensors","tab":"46029d12.145ffc","disp":true,"width":"6"},{"id":"46029d12.145ffc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
