node-red-language-translation/code/3-complete-flow.json
[{"id":"3a82a28a.603b26","type":"inject","z":"ce40e84a.46be","name":"Inject some text","topic":"","payload":"\"Node-RED\" & Watson is a strong combination","payloadType":"str","repeat":"","crontab":"","once":false,"x":324,"y":93.5,"wires":[["77943b37.c325fc"]]},{"id":"2d87800e.e2a8d8","type":"debug","z":"ce40e84a.46be","name":"","active":true,"console":"false","complete":"false","x":791,"y":93,"wires":[]},{"id":"b71eadd4.1fd0f","type":"http in","z":"ce40e84a.46be","name":"","url":"/translate","method":"get","swaggerDoc":"","x":123,"y":192.49998474121094,"wires":[["bccd3834.9c9ef"]]},{"id":"9fde409d.1a2578","type":"http response","z":"ce40e84a.46be","name":"","x":1058.9999389648438,"y":181.99998474121094,"wires":[]},{"id":"bccd3834.9c9ef","type":"switch","z":"ce40e84a.46be","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":283,"y":192.49998474121094,"wires":[["4e20ed4c.5cb814"],["ca78416f.0a3e6"]]},{"id":"4e20ed4c.5cb814","type":"template","z":"ce40e84a.46be","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","x":679,"y":184.5,"wires":[["9fde409d.1a2578"]]},{"id":"b28898e0.0e97f8","type":"template","z":"ce40e84a.46be","name":"Display Translation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>You want to translate</h1>\n<p><q>{{req.query.text}}</q></p>\n\n<h1>Translation</h1>\n<p><q>{{payload}}</q></p>\n\n<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{req.query.text}}\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","x":879,"y":228.49998474121094,"wires":[["9fde409d.1a2578"]]},{"id":"ca78416f.0a3e6","type":"change","z":"ce40e84a.46be","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":229,"wires":[["fe5807f9.b94f48"]]},{"id":"fe5807f9.b94f48","type":"watson-translator","z":"ce40e84a.46be","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":668.5,"y":228.75,"wires":[["b28898e0.0e97f8"]]},{"id":"77943b37.c325fc","type":"watson-translator","z":"ce40e84a.46be","name":"Translate to French","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":566,"y":91.5,"wires":[["2d87800e.e2a8d8"]]}]
