node-red-language-translation/code/3-complete-flow.json
[{"id":"efdccf18.ab0888","type":"inject","z":"d0fb63bd.e1fc88","name":"Inject some text","topic":"","payload":"\"Node-RED\" & Watson is a strong combination","payloadType":"str","repeat":"","crontab":"","once":false,"x":311.5,"y":103.5,"wires":[["b8077e7a.7222a8"]]},{"id":"b8077e7a.7222a8","type":"watson-translate","z":"d0fb63bd.e1fc88","name":"Translate to another Language","srclang":"en","destlang":"fr","domain":"news","x":550.5,"y":103,"wires":[["2593a88b.10d02"]]},{"id":"2593a88b.10d02","type":"debug","z":"d0fb63bd.e1fc88","name":"","active":true,"console":"false","complete":"false","x":778.5,"y":103,"wires":[]},{"id":"d2232429.ec9dc","type":"http in","z":"d0fb63bd.e1fc88","name":"","url":"/translate","method":"get","swaggerDoc":"","x":110.5,"y":202.49998474121094,"wires":[["3a832748.60fa18"]]},{"id":"3fc8d57d.6982b2","type":"http response","z":"d0fb63bd.e1fc88","name":"","x":1046.4999389648438,"y":191.99998474121094,"wires":[]},{"id":"3a832748.60fa18","type":"switch","z":"d0fb63bd.e1fc88","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":270.5,"y":202.49998474121094,"wires":[["ac8bf6a.4e26608"],["d8e7d053.0da8e8"]]},{"id":"ac8bf6a.4e26608","type":"template","z":"d0fb63bd.e1fc88","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","x":666.5,"y":194.5,"wires":[["3fc8d57d.6982b2"]]},{"id":"544c8362.8468c4","type":"template","z":"d0fb63bd.e1fc88","name":"Display Translation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>You want to translate</h1>\n<p><q>{{req.query.text}}</q></p>\n\n<h1>Translation</h1>\n<p><q>{{payload}}</q></p>\n\n<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{req.query.text}}\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","x":866.5,"y":238.49998474121094,"wires":[["3fc8d57d.6982b2"]]},{"id":"cee174c2.af96e8","type":"watson-translate","z":"d0fb63bd.e1fc88","name":"","srclang":"en","destlang":"fr","domain":"news","x":655.5,"y":239,"wires":[["544c8362.8468c4"]]},{"id":"d8e7d053.0da8e8","type":"change","z":"d0fb63bd.e1fc88","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.5,"y":239,"wires":[["cee174c2.af96e8"]]}]
