node-red-language-translation/code/3-complete-flow.json
[{"id":"568b47cf.dee3f","type":"inject","z":"b9848029.646688","name":"Inject some text","topic":"","payload":"\"Node-RED\" & Watson is a strong combination","payloadType":"str","repeat":"","crontab":"","once":false,"x":320,"y":100,"wires":[["81e7f82d.376038"]]},{"id":"a72a2b48.172778","type":"debug","z":"b9848029.646688","name":"","active":true,"console":"false","complete":"false","x":787,"y":99.5,"wires":[]},{"id":"2bb29ff4.a34ca8","type":"http in","z":"b9848029.646688","name":"","url":"/translate","method":"get","swaggerDoc":"","x":119,"y":198.99998474121094,"wires":[["efdd88ea.e95938"]]},{"id":"26bcd364.20d454","type":"http response","z":"b9848029.646688","name":"","x":1054.9999389648438,"y":188.49998474121094,"wires":[]},{"id":"efdd88ea.e95938","type":"switch","z":"b9848029.646688","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":279,"y":198.99998474121094,"wires":[["3a699eac.d385ca"],["d485e21b.368a3"]]},{"id":"3a699eac.d385ca","type":"template","z":"b9848029.646688","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","output":"str","x":675,"y":191,"wires":[["26bcd364.20d454"]]},{"id":"663d5ccb.f8adc4","type":"template","z":"b9848029.646688","name":"Display Translation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>You want to translate</h1>\n<p><q>{{req.query.text}}</q></p>\n\n<h1>Translation</h1>\n<p><q>{{payload}}</q></p>\n\n<h1>Enter Text to Translate</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{req.query.text}}\" />\n  <input type=\"submit\" value=\"Translate It!\" />\n</form>\n","output":"str","x":875,"y":234.99998474121094,"wires":[["26bcd364.20d454"]]},{"id":"d485e21b.368a3","type":"change","z":"b9848029.646688","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":461,"y":235.5,"wires":[["c6b5be46.1db658"]]},{"id":"c6b5be46.1db658","type":"watson-translator","z":"b9848029.646688","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"","x":664.5,"y":235.25,"wires":[["663d5ccb.f8adc4"]]},{"id":"81e7f82d.376038","type":"watson-translator","z":"b9848029.646688","name":"Translate to French","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"","x":562,"y":98,"wires":[["a72a2b48.172778"]]}]