node-red-text-to-speech/code/3-complete-flow.json
[{"id":"6920680f.50034","type":"http in","z":"b9848029.646688","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":140,"y":400,"wires":[["7de76ab.8faca14"]]},{"id":"f0eedc77.f1e18","type":"change","z":"b9848029.646688","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["26c10b62.e2207c"]]},{"id":"7e006183.34663","type":"function","z":"b9848029.646688","name":"Set Headers","func":"msg.headers = { 'Content-Type': 'audio/wav' };\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["52f56dc4.3623c4"]]},{"id":"52f56dc4.3623c4","type":"http response","z":"b9848029.646688","name":"","x":1010,"y":400,"wires":[]},{"id":"93d85810.3019e","type":"http in","z":"b9848029.646688","name":"","url":"/talk","method":"get","swaggerDoc":"","x":143,"y":547.5,"wires":[["6009eda8.e622b4"]]},{"id":"6009eda8.e622b4","type":"switch","z":"b9848029.646688","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":303.5,"y":547,"wires":[["477054f.b9e0bac"],["d7fef581.10275"]]},{"id":"477054f.b9e0bac","type":"template","z":"b9848029.646688","name":"Process Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>You Want To Say</h1>\n<p><q>{{payload.text}}</q></p>\n\n<h1>Hear It</h1>\n<audio controls autoplay>\n  <source src=\"/talk/sayit?text={{payload.text}}\" type=\"audio/wav\">\n  Your browser does not support the audio element\n</audio>\n\n<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{payload.text}}\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>\n","output":"str","x":490,"y":522.5,"wires":[["3ceb3994.e4f8ce"]]},{"id":"d7fef581.10275","type":"template","z":"b9848029.646688","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>","output":"str","x":459.5,"y":559,"wires":[["3ceb3994.e4f8ce"]]},{"id":"3ceb3994.e4f8ce","type":"http response","z":"b9848029.646688","name":"","x":680.5,"y":540,"wires":[]},{"id":"26c10b62.e2207c","type":"watson-text-to-speech","z":"b9848029.646688","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":680,"y":380,"wires":[["7e006183.34663"]]},{"id":"dc49ec12.147968","type":"template","z":"b9848029.646688","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Missing text query parameter.</h1>","output":"str","x":870,"y":420,"wires":[["52f56dc4.3623c4"]]},{"id":"7de76ab.8faca14","type":"switch","z":"b9848029.646688","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":310,"y":400,"wires":[["f0eedc77.f1e18"],["dc49ec12.147968"]]}]