node-red-text-to-speech/code/3-complete-flow.json
[{"id":"42339202.cb7c74","type":"http in","z":"c8060af6.4a41d","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":91.5,"y":91.5,"wires":[["5ed5c5ef.73d354"]]},{"id":"f238285d.ba29f8","type":"change","z":"c8060af6.4a41d","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":447.5,"y":62.5,"wires":[["1237930b.35b145"]]},{"id":"1237930b.35b145","type":"watson-text-to-speech","z":"c8060af6.4a41d","name":"Text to Speech","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":630.5,"y":62,"wires":[["3c2ff9f.0244c06"]]},{"id":"3c2ff9f.0244c06","type":"change","z":"c8060af6.4a41d","name":"Speech to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":825.5,"y":62,"wires":[["1aaf1d19.ce6ddb"]]},{"id":"1aaf1d19.ce6ddb","type":"function","z":"c8060af6.4a41d","name":"Set Headers","func":"msg.headers = { 'Content-Type': 'audio/wav' };\nreturn msg;","outputs":1,"noerr":0,"x":1008.5,"y":62,"wires":[["7d5ffa46.209854"]]},{"id":"7d5ffa46.209854","type":"http response","z":"c8060af6.4a41d","name":"","x":1162.5,"y":93,"wires":[]},{"id":"5ed5c5ef.73d354","type":"switch","z":"c8060af6.4a41d","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":262.5,"y":91.5,"wires":[["f238285d.ba29f8"],["7717a28f.58273c"]]},{"id":"7717a28f.58273c","type":"template","z":"c8060af6.4a41d","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Missing text query parameter.</h1>","x":723.5,"y":113.5,"wires":[["7d5ffa46.209854"]]},{"id":"89c7c509.a8d49","type":"http in","z":"c8060af6.4a41d","name":"","url":"/talk","method":"get","swaggerDoc":"","x":89.5,"y":217.5,"wires":[["6a9d1958.f985e8"]]},{"id":"6a9d1958.f985e8","type":"switch","z":"c8060af6.4a41d","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":250,"y":217,"wires":[["77a78f81.0223e8"],["c4bf57b5.128b8"]]},{"id":"77a78f81.0223e8","type":"template","z":"c8060af6.4a41d","name":"Process Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>You Want To Say</h1>\n<p><q>{{payload.text}}</q></p>\n\n<h1>Hear It</h1>\n<audio controls autoplay>\n  <source src=\"/talk/sayit?text={{payload.text}}\" type=\"audio/wav\">\n  Your browser does not support the audio element\n</audio>\n\n<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{payload.text}}\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>\n","x":436.5,"y":192.5,"wires":[["ec2d2152.bf25a8"]]},{"id":"c4bf57b5.128b8","type":"template","z":"c8060af6.4a41d","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>","x":406,"y":229,"wires":[["ec2d2152.bf25a8"]]},{"id":"ec2d2152.bf25a8","type":"http response","z":"c8060af6.4a41d","name":"","x":627,"y":210,"wires":[]}]
