node-red-text-to-speech/code/3-complete-flow.json
[{"id":"5cdcbf91.76d0e","type":"http in","z":"783605da.ed7f5c","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":120,"y":100,"wires":[["52597623.ee65f8"]]},{"id":"a273aae2.d5c488","type":"change","z":"783605da.ed7f5c","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["1ef89d79.2dfa33"]]},{"id":"669cda8.74cf324","type":"function","z":"783605da.ed7f5c","name":"Set Headers","func":"msg.headers = { 'Content-Type': 'audio/wav' };\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["a633ce34.b7979"]]},{"id":"a633ce34.b7979","type":"http response","z":"783605da.ed7f5c","name":"","x":990,"y":100,"wires":[]},{"id":"fc5eb461.370b68","type":"http in","z":"783605da.ed7f5c","name":"","url":"/talk","method":"get","swaggerDoc":"","x":123,"y":247.5,"wires":[["8ea2dde0.bdc54"]]},{"id":"8ea2dde0.bdc54","type":"switch","z":"783605da.ed7f5c","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":283.5,"y":247,"wires":[["a1fe499a.818d88"],["d8fb086c.9e7bf8"]]},{"id":"a1fe499a.818d88","type":"template","z":"783605da.ed7f5c","name":"Process Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>You Want To Say</h1>\n<p><q>{{payload.text}}</q></p>\n\n<h1>Hear It</h1>\n<audio controls autoplay>\n  <source src=\"/talk/sayit?text={{payload.text}}\" type=\"audio/wav\">\n  Your browser does not support the audio element\n</audio>\n\n<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"{{payload.text}}\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>\n","x":470,"y":222.5,"wires":[["f7b96b78.873468"]]},{"id":"d8fb086c.9e7bf8","type":"template","z":"783605da.ed7f5c","name":"Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Enter Text to Say</h1>\n<form>\n  <input type=\"text\" name=\"text\" value=\"\" />\n  <input type=\"submit\" value=\"Say It!\" />\n</form>","x":439.5,"y":259,"wires":[["f7b96b78.873468"]]},{"id":"f7b96b78.873468","type":"http response","z":"783605da.ed7f5c","name":"","x":660.5,"y":240,"wires":[]},{"id":"1ef89d79.2dfa33","type":"watson-text-to-speech","z":"783605da.ed7f5c","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":660,"y":80,"wires":[["669cda8.74cf324"]]},{"id":"811cf912.f0b248","type":"template","z":"783605da.ed7f5c","name":"Error","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Missing text query parameter.</h1>","x":850,"y":120,"wires":[["a633ce34.b7979"]]},{"id":"52597623.ee65f8","type":"switch","z":"783605da.ed7f5c","name":"Check Text","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":290,"y":100,"wires":[["a273aae2.d5c488"],["811cf912.f0b248"]]}]