node-red-tjbot/say-what-i-see/code/flow.json
[{"id":"ac3287dc.5e2298","type":"inject","z":"79c2913a.2dcaf8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":760,"wires":[["6230c197.515c9"]]},{"id":"6230c197.515c9","type":"tjbot-see","z":"79c2913a.2dcaf8","botId":"300f7fe6.d2ca68","mode":"see","verticalFlip":false,"horizontalFlip":false,"width":"","height":"","name":"","x":350,"y":760,"wires":[["52699e1.b09a7e"]]},{"id":"52699e1.b09a7e","type":"function","z":"79c2913a.2dcaf8","name":"","func":"msg.payload = 'TJBot sees '+msg.payload.map(function(c) {\n    return c['class'];\n}).join(', ');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["d6e05c65.a35c38"]]},{"id":"d6e05c65.a35c38","type":"tjbot-speak","z":"79c2913a.2dcaf8","botId":"300f7fe6.d2ca68","mode":"speak","payload":"","name":"","x":590,"y":760,"wires":[[]]},{"id":"300f7fe6.d2ca68","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","speak":"en-US","hasLED":false,"hasServo":false}]
