lab-temperature-sensor-with-intel-edison/code/3-temperature-flow.json
[{"id":"36fc4ef2.ac85ea","type":"inject","z":"44eae74f.43996","name":"Trigger Every 1 Second","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":179,"y":157.25,"wires":[["4ebc0db7.d90b84"]]},{"id":"4ebc0db7.d90b84","type":"temperature","z":"44eae74f.43996","name":"","port":"0","unit":"all","x":383,"y":157.25,"wires":[["9f688020.8bd148"]]},{"id":"9f688020.8bd148","type":"function","z":"44eae74f.43996","name":"Display Temperature","func":"return {\n    line1: 'Temp: '+msg.fahrenheit+'*F'\n};\n","outputs":1,"noerr":0,"x":582,"y":156.75,"wires":[["3334597d.3f329e"]]},{"id":"3334597d.3f329e","type":"lcd","z":"44eae74f.43996","name":"","port":"0","line1":"Loading...","line2":"","bgColorR":255,"bgColorG":255,"bgColorB":255,"x":758,"y":156.25,"wires":[]}]
