lab-temperature-sensor-with-intel-edison/code/5-weather-flow.json
[{"id":"3ce77593.12a0e2","type":"inject","z":"d4740d9f.37586","name":"Trigger Every 1 Second","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":161,"y":129,"wires":[["2441786b.0dc6f"]]},{"id":"2441786b.0dc6f","type":"temperature","z":"d4740d9f.37586","name":"","port":"0","unit":"all","x":365,"y":129,"wires":[["9f2a102c.1da968","3ec94e2.d347132"]]},{"id":"9f2a102c.1da968","type":"function","z":"d4740d9f.37586","name":"Display Temperature","func":"return {\n    line1: 'Temp: '+msg.fahrenheit+'*F',\n    line2: global.get('outsideTemp')\n};\n","outputs":1,"noerr":0,"x":564,"y":128.5,"wires":[["c6a29031.b805a8"]]},{"id":"c6a29031.b805a8","type":"lcd","z":"d4740d9f.37586","name":"","port":"0","line1":"Loading...","line2":"","bgColorR":255,"bgColorG":255,"bgColorB":255,"x":740,"y":128,"wires":[]},{"id":"3ec94e2.d347132","type":"switch","z":"d4740d9f.37586","name":"Turn On Light If Temp > 80F","property":"fahrenheit","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":581,"y":179.5,"wires":[["27a580b2.375a8"],["b22057c2.34878"]]},{"id":"27a580b2.375a8","type":"led","z":"d4740d9f.37586","name":"LED On","port":"6","operation":"on","x":800,"y":164,"wires":[]},{"id":"b22057c2.34878","type":"led","z":"d4740d9f.37586","name":"LED Off","port":"6","operation":"off","x":799,"y":202.75,"wires":[]},{"id":"d3b348aa.bcd8f","type":"weather_insights","z":"d4740d9f.37586","name":"Get Current Conditions","service":"/observations.json","geocode":"37.5546765,-122.2836446","units":"e","language":"","x":405,"y":281,"wires":[["86e3b38e.b493e"]]},{"id":"4569b6c.9c90a48","type":"inject","z":"d4740d9f.37586","name":"Trigger Every 30 Minutes","topic":"","payload":"","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":154,"y":281,"wires":[["d3b348aa.bcd8f"]]},{"id":"86e3b38e.b493e","type":"function","z":"d4740d9f.37586","name":"Update Outside Temp","func":"global.set('outsideTemp', msg.observation.wx_phrase+\n' '+msg.observation.temp+'*F');\n","outputs":1,"noerr":0,"x":643,"y":280.5,"wires":[[]]}]
