lab-svcc-iot/code/1-control-led.json
[{"id":"5419bf2f.89101","type":"ibmiot in","z":"9c874694.d46ad","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"environment","applicationId":"","deviceType":"simulator","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":98,"y":92.75,"wires":[["f0109269.686d8","765a86cf.3abd4"]]},{"id":"f0109269.686d8","type":"debug","z":"9c874694.d46ad","name":"","active":true,"console":"false","complete":"false","x":285,"y":73,"wires":[]},{"id":"765a86cf.3abd4","type":"switch","z":"9c874694.d46ad","name":"Obj Temp >= 40C (104F)?","property":"payload.d.objectTemp","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":321,"y":124.25,"wires":[["3ff83d35.3ea07a"],["3ef10b37.319e44"]]},{"id":"3ff83d35.3ea07a","type":"function","z":"9c874694.d46ad","name":"High Temp","func":"msg.payload = {\n    \"text\": \"High Temperature Detected\",\n    \"background\": \"red\",\n    \"foreground\": \"white\"\n};\nmsg.deviceId = \"lcd\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":534,"y":113.5,"wires":[["e2622081.e809c8"]]},{"id":"e2622081.e809c8","type":"ibmiot out","z":"9c874694.d46ad","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"lcd","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control LCD","service":"registered","x":778,"y":112.75,"wires":[]},{"id":"3ef10b37.319e44","type":"function","z":"9c874694.d46ad","name":"Norminal Temp","func":"msg.payload = {\n    \"text\": \"Norminal Temperature\",\n    \"background\": \"white\",\n    \"foreground\": \"black\"\n};\nmsg.deviceId = \"lcd\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":544,"y":153.5,"wires":[["e2622081.e809c8"]]}]
