lab-svcc-iot/code/2-display-weather.json
[{"id":"e1190e7b.ab3388","type":"inject","z":"9c874694.d46ad","name":"Trigger every 15 mins","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"x":168,"y":532.75,"wires":[["a83a9522.5a13f8"]]},{"id":"a83a9522.5a13f8","type":"weather_insights","z":"9c874694.d46ad","name":"","service":"/observations.json","geocode":"37.3009752,-121.7661738","units":"e","language":"en","x":368,"y":532.75,"wires":[["1fed4b93.226a44"]]},{"id":"c0615a8a.6804b","type":"function","z":"9c874694.d46ad","name":"Cloudy","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"cloudy\",\n    \"color\": \"#C0C0C0\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":928,"y":472.75,"wires":[["9a3fa6a3.9a72e"]]},{"id":"9bbda48e.6e8a58","type":"function","z":"9c874694.d46ad","name":"Sunny","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"sunny\",\n    \"color\": \"yellow\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":918,"y":512.75,"wires":[["9a3fa6a3.9a72e"]]},{"id":"a4457985.ecadf8","type":"function","z":"9c874694.d46ad","name":"Raining","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"raining\",\n    \"color\": \"blue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":928,"y":552.75,"wires":[["9a3fa6a3.9a72e"]]},{"id":"c3513b1a.e01308","type":"function","z":"9c874694.d46ad","name":"Windy","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"windy\",\n    \"color\": \"lightblue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":918,"y":592.75,"wires":[["9a3fa6a3.9a72e"]]},{"id":"de12eed7.0b6a28","type":"function","z":"9c874694.d46ad","name":"Lightning","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"lightning\",\n    \"color\": \"yellow\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":928,"y":632.75,"wires":[["9a3fa6a3.9a72e"]]},{"id":"97228bfd.a4346","type":"switch","z":"9c874694.d46ad","name":"","property":"observation.wx_phrase","propertyType":"msg","rules":[{"t":"cont","v":"Cloudy","vt":"str"},{"t":"cont","v":"Sunny","vt":"str"},{"t":"cont","v":"Rain","vt":"str"},{"t":"cont","v":"Windy","vt":"str"},{"t":"cont","v":"Thunderstorms","vt":"str"}],"checkall":"false","outputs":5,"x":778,"y":532.75,"wires":[["c0615a8a.6804b"],["9bbda48e.6e8a58"],["a4457985.ecadf8"],["c3513b1a.e01308"],["de12eed7.0b6a28"]]},{"id":"1fed4b93.226a44","type":"change","z":"9c874694.d46ad","name":"Set Payload to Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":588,"y":532.75,"wires":[["97228bfd.a4346"]]},{"id":"9a3fa6a3.9a72e","type":"ibmiot out","z":"9c874694.d46ad","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"weather","deviceType":"simulator","eventCommandType":"update","format":"json","data":"{}","qos":0,"name":"Display Weather","service":"registered","x":1128,"y":532.75,"wires":[]}]
