lab-svcc-iot/code/3-complete-flow.json
[{"id":"3dd182fd.9f0e36","type":"ibmiot in","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"environment","applicationId":"","deviceType":"simulator","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":83,"y":83,"wires":[["e3b860a8.581578","6b50dd14.c982dc","901bd471.4569b8","6eec2742.15c3d"]]},{"id":"e3b860a8.581578","type":"debug","z":"1d9c0f65.dd6b91","name":"","active":true,"console":"false","complete":"false","x":270,"y":63.25,"wires":[]},{"id":"27b995ed.972e02","type":"inject","z":"1d9c0f65.dd6b91","name":"Trigger every 15 mins","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"x":153,"y":523,"wires":[["102f73a7.bfba44"]]},{"id":"102f73a7.bfba44","type":"weather_insights","z":"1d9c0f65.dd6b91","name":"","service":"/observations.json","geocode":"41.323072,-84.2039043","units":"e","language":"en","x":353,"y":523,"wires":[["bfc19234.d5b3a8"]]},{"id":"12d2349f.5f2533","type":"debug","z":"1d9c0f65.dd6b91","name":"","active":true,"console":"false","complete":"observation","x":663,"y":1203,"wires":[]},{"id":"5818cfcc.c5ca9","type":"function","z":"1d9c0f65.dd6b91","name":"Cloudy","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"cloudy\",\n    \"color\": \"#C0C0C0\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":913,"y":463,"wires":[["67e07b4b.a3c714"]]},{"id":"962f4fd4.ff5c08","type":"function","z":"1d9c0f65.dd6b91","name":"Sunny","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"sunny\",\n    \"color\": \"yellow\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":903,"y":503,"wires":[["67e07b4b.a3c714"]]},{"id":"73b29819.c093e8","type":"function","z":"1d9c0f65.dd6b91","name":"Raining","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"raining\",\n    \"color\": \"blue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":913,"y":543,"wires":[["67e07b4b.a3c714"]]},{"id":"d73faaa6.52d358","type":"function","z":"1d9c0f65.dd6b91","name":"Windy","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"windy\",\n    \"color\": \"lightblue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":903,"y":583,"wires":[["67e07b4b.a3c714"]]},{"id":"6ff4668f.f76b88","type":"function","z":"1d9c0f65.dd6b91","name":"Lightning","func":"msg.payload = {\n    \"text\": msg.observation.wx_phrase+\" \"+msg.payload+\"*F\",\n    \"condition\": \"lightning\",\n    \"color\": \"yellow\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":913,"y":623,"wires":[["67e07b4b.a3c714"]]},{"id":"64d467a6.eedd78","type":"switch","z":"1d9c0f65.dd6b91","name":"","property":"observation.wx_phrase","propertyType":"msg","rules":[{"t":"cont","v":"Cloudy","vt":"str"},{"t":"cont","v":"Sunny","vt":"str"},{"t":"cont","v":"Rain","vt":"str"},{"t":"cont","v":"Windy","vt":"str"},{"t":"cont","v":"Thunderstorms","vt":"str"}],"checkall":"false","outputs":5,"x":763,"y":523,"wires":[["5818cfcc.c5ca9"],["962f4fd4.ff5c08"],["73b29819.c093e8"],["d73faaa6.52d358"],["6ff4668f.f76b88"]]},{"id":"bfc19234.d5b3a8","type":"change","z":"1d9c0f65.dd6b91","name":"Set Payload to Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":523,"wires":[["64d467a6.eedd78"]]},{"id":"6f3df17.fa5cf1","type":"function","z":"1d9c0f65.dd6b91","name":"Fireplace On","func":"msg.payload = {\n    \"color\": \"yellow\"\n};\nmsg.deviceId = \"fireplace\";\nmsg.eventOrCommandType = 'turnOn';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":519,"y":223.75,"wires":[["556eb4c0.267f1c"]]},{"id":"21d542aa.a4dcb6","type":"function","z":"1d9c0f65.dd6b91","name":"Fireplace Off","func":"msg.payload = {};\nmsg.deviceId = \"fireplace\";\nmsg.eventOrCommandType = 'turnOff';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":519,"y":263.75,"wires":[["556eb4c0.267f1c"]]},{"id":"901bd471.4569b8","type":"switch","z":"1d9c0f65.dd6b91","name":"Temp <= 18C (65F)?","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"lte","v":"18","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":289,"y":243.75,"wires":[["6f3df17.fa5cf1"],["21d542aa.a4dcb6"]]},{"id":"bb6f67c5.cf26c","type":"function","z":"1d9c0f65.dd6b91","name":"A/C On","func":"msg.payload = {\n    \"state\": \"on\"\n};\nmsg.deviceId = \"airconditioner\";\nmsg.eventOrCommandType = 'turnOn';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":509,"y":363.75,"wires":[["203fb900.2b293"]]},{"id":"4bb99ff.c981fe","type":"function","z":"1d9c0f65.dd6b91","name":"A/C Off","func":"msg.payload = {\n    \"state\": \"off\"\n};\nmsg.deviceId = \"airconditioner\";\nmsg.eventOrCommandType = 'turnOff';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":509,"y":403.75,"wires":[["203fb900.2b293"]]},{"id":"6eec2742.15c3d","type":"switch","z":"1d9c0f65.dd6b91","name":"Temp >= 27C (80F)?","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gte","v":"27","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":289,"y":383.75,"wires":[["bb6f67c5.cf26c"],["4bb99ff.c981fe"]]},{"id":"6b50dd14.c982dc","type":"switch","z":"1d9c0f65.dd6b91","name":"Obj Temp >= 40C (104F)?","property":"payload.d.objectTemp","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":306,"y":114.5,"wires":[["1be06e7f.5059ca"],["ad9759b.8f3b5a8"]]},{"id":"1be06e7f.5059ca","type":"function","z":"1d9c0f65.dd6b91","name":"High Temp","func":"msg.payload = {\n    \"text\": \"High Temperature Detected\",\n    \"background\": \"red\",\n    \"foreground\": \"white\"\n};\nmsg.deviceId = \"lcd\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":519,"y":103.75,"wires":[["689d5eb3.4d16e8"]]},{"id":"689d5eb3.4d16e8","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"lcd","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control LCD","service":"registered","x":763,"y":103,"wires":[]},{"id":"ad9759b.8f3b5a8","type":"function","z":"1d9c0f65.dd6b91","name":"Norminal Temp","func":"msg.payload = {\n    \"text\": \"Norminal Temperature\",\n    \"background\": \"white\",\n    \"foreground\": \"black\"\n};\nmsg.deviceId = \"lcd\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":529,"y":143.75,"wires":[["689d5eb3.4d16e8"]]},{"id":"67e07b4b.a3c714","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"weather","deviceType":"simulator","eventCommandType":"update","format":"json","data":"{}","qos":0,"name":"Display Weather","service":"registered","x":1113,"y":523,"wires":[]},{"id":"203fb900.2b293","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"airconditioner","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control A/C","service":"registered","x":759,"y":383.75,"wires":[]},{"id":"556eb4c0.267f1c","type":"ibmiot out","z":"1d9c0f65.dd6b91","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"fireplace","deviceType":"simulator","eventCommandType":"blank","format":"json","data":"{}","qos":0,"name":"Control Fireplace","service":"registered","x":779,"y":243.75,"wires":[]}]
