deprecated/node-red-twitter-personality/code/4-complete-flow.js
[{"id":"380a2400.cd67bc","type":"http request","z":"bfb413af.962cb","name":"Insights for Twitter","method":"GET","ret":"obj","url":"","tls":"","x":644,"y":152,"wires":[["f6619179.e721f8"]]},{"id":"7854a19a.774a2","type":"function","z":"bfb413af.962cb","name":"Concatenate Tweets","func":"msg.payload = msg.payload.tweets.map(function(tweet) {\n    return tweet.message.body;\n}).join(' ');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":234,"wires":[["ed86af1b.f18298"]]},{"id":"febd9703.09796","type":"function","z":"bfb413af.962cb","name":"Set URL","func":"msg.url = 'https://cdeservice.mybluemix.net/api/v1/messages/search?size=500&q='+msg.payload.q;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":458,"y":152,"wires":[["380a2400.cd67bc"]]},{"id":"b6184034.0fde4","type":"http in","z":"bfb413af.962cb","name":"","url":"/personality","method":"get","swaggerDoc":"","x":109,"y":159,"wires":[["dab8dcf.4d01b2"]]},{"id":"38cbe5a5.1246fa","type":"http response","z":"bfb413af.962cb","name":"","x":1301,"y":298.5,"wires":[]},{"id":"9c50f123.b51e1","type":"change","z":"bfb413af.962cb","name":"Return Insights","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":306,"wires":[["801e7125.3904b8","38b1c6d0.911a12"]]},{"id":"d3756fd6.5f947","type":"switch","z":"bfb413af.962cb","name":"Personality Returned?","property":"insights","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":189.5,"y":328,"wires":[["9c50f123.b51e1"],["e64a43fd.631d3"]]},{"id":"e64a43fd.631d3","type":"template","z":"bfb413af.962cb","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unable to get Personality Insights.","x":399.5,"y":350,"wires":[["b4431024.fdbcc8"]]},{"id":"f6619179.e721f8","type":"switch","z":"bfb413af.962cb","name":"Tweets Found?","property":"payload.search.results","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":169.5,"y":240,"wires":[["7854a19a.774a2"],["e64a43fd.631d3"]]},{"id":"dab8dcf.4d01b2","type":"switch","z":"bfb413af.962cb","name":"Search Query?","property":"req.query.q","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":286.5,"y":159,"wires":[["febd9703.09796"],["e64a43fd.631d3"]]},{"id":"d9092fae.101a4","type":"template","z":"bfb413af.962cb","name":"Display Analysis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Twitter Personality</title>\n    </head>\n    <body>\n        {{#payload.personality}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentile}})</li>\n                {{/children}}\n            </ul>\n        {{/payload.personality}} \n    \n\n        <h2>Needs</h2>\n        <ul>\n            {{#payload.needs}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.needs}} \n        </ul>\n        \n \n        <h2>Values</h2>\n        <ul>\n            {{#payload.values}}\n                <li>{{name}} ({{percentile}})</li>\n            {{/payload.values}} \n        </ul>   \n    </body>\n</html>","x":833.5,"y":326.5,"wires":[["b4431024.fdbcc8"]]},{"id":"b4431024.fdbcc8","type":"function","z":"bfb413af.962cb","name":"Set Response Headers","func":"msg.headers = {'content-type': 'text/html'};\nreturn msg;\n","outputs":1,"noerr":0,"x":1064.5,"y":328,"wires":[["38cbe5a5.1246fa"]]},{"id":"801e7125.3904b8","type":"switch","z":"bfb413af.962cb","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":619.5,"y":306.5,"wires":[["38cbe5a5.1246fa"],["d9092fae.101a4"]]},{"id":"ed86af1b.f18298","type":"watson-personality-insights-v3","z":"bfb413af.962cb","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"x":616.5,"y":232.5,"wires":[["d3756fd6.5f947"]]},{"id":"38b1c6d0.911a12","type":"debug","z":"bfb413af.962cb","name":"","active":true,"console":"false","complete":"false","x":613.5,"y":408.5,"wires":[]}]
