lab-mobile-accelerometer-sensor/node-red-flow.json
[{"id":"a19fc6d.696cdb8","type":"ibmiot in","z":"cc84250e.b88b9","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"abcd1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":157,"y":182,"wires":[["7a3cbb59.fabe0c","74ce061c.29db68"]]},{"id":"7a3cbb59.fabe0c","type":"debug","z":"cc84250e.b88b9","name":"","active":false,"console":"false","complete":"false","x":325,"y":182.5,"wires":[]},{"id":"74ce061c.29db68","type":"switch","z":"cc84250e.b88b9","name":"Phone drops","property":"payload.d.az","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","outputs":1,"x":327,"y":247,"wires":[["c481f4de.81f57","ab431056.edc1a"]]},{"id":"c481f4de.81f57","type":"debug","z":"cc84250e.b88b9","name":"","active":true,"console":"false","complete":"false","x":501,"y":247.5,"wires":[]},{"id":"ab431056.edc1a","type":"delay","z":"cc84250e.b88b9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":511,"y":295,"wires":[["34f8c9bc.31bafe"]]},{"id":"4026170.9a05368","type":"twitter out","z":"cc84250e.b88b9","twitter":"","name":"Tweet","x":865,"y":295.5,"wires":[]},{"id":"34f8c9bc.31bafe","type":"template","z":"cc84250e.b88b9","name":"Compose Tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sensed phone dropped. Are you okay?","x":706,"y":295,"wires":[["4026170.9a05368"]]}]
