node-red-natural-language-understanding/code/2-complete-flow.json
[{"id":"99452a.6ed0a2d8","type":"http response","z":"5f915fb1.bc23a","name":"","x":1190,"y":220,"wires":[]},{"id":"b2dbd06f.2307a","type":"http in","z":"5f915fb1.bc23a","name":"","url":"/analyze","method":"get","swaggerDoc":"","x":90,"y":240,"wires":[["87820c6a.ce9258"]]},{"id":"3d4c3a15.1736ae","type":"template","z":"5f915fb1.bc23a","name":"Display Content Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n#***************************************************************************\n# Copyright 2018 IBM\n#\n#   Natural Language Understanding in Node-RED\n#\n#   By JeanCarl Bisson (@dothewww)\n#   More info: https://ibm.biz/node-red-natural-language-understanding\n#\n#   Licensed under the Apache License, Version 2.0 (the \"License\");\n#   you may not use this file except in compliance with the License.\n#   You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n#   Unless required by applicable law or agreed to in writing, software\n#   distributed under the License is distributed on an \"AS IS\" BASIS,\n#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n#   See the License for the specific language governing permissions and\n#***************************************************************************\n-->\n<h1>{{features.metadata.title}}</h1>\n<table>\n    <tr>\n        <td>Author</td>\n        <td><ul>{{#features.metadata.authors}}<li>{{name}}</li>{{/features.metadata.authors}}</ul></td>\n    </tr>\n    <tr>\n        <td>Document Sentiment</td>\n        <td>{{features.sentiment.document.label}} (Score: {{features.sentiment.document.score}})</td>\n    </tr>\n    <tr>\n        <td>URL</td>\n        <td><a href=\"{{features.retrieved_url}}\" target=\"_blank\">{{features.retrieved_url}}</a></td>\n    </tr>\n    <tr>\n        <td>Published</td>\n        <td>{{features.metadata.publication_date}}</td>\n    </tr>\n    <tr>\n        <td></td>\n        <td><a href=\"/story?format=json&url={{features.retrieved_url}}\">View JSON</a></td>\n    </tr>\n</table>\n\n\n<h2>Entities</h2>\n<table border=\"1\">\n    <tr>\n        <th>Entity</th>\n        <th>Type</th>\n        <th>Relevance</th>\n        <th># Occurrances</th>\n        <th>Sentiment</th>\n        <th>Sadness</th>\n        <th>Joy</th>\n        <th>Fear</th>\n        <th>Disgust</th>\n        <th>Anger</th>\n    </tr>\n    {{#features.entities}}\n        <tr>\n            <td>{{text}}</td>\n            <td>{{type}}</td>\n            <td>{{relevance}}</td>\n            <td>{{count}}</td>\n            <td>{{sentiment.score}}</td>\n            <td>{{emotion.sadness}}</td>\n            <td>{{emotion.joy}}</td>\n            <td>{{emotion.fear}}</td>\n            <td>{{emotion.disgust}}</td>\n            <td>{{emotion.anger}}</td>\n        </tr>\n    {{/features.entities}}\n</table>\n\n<h2>Keywords</h2>\n<table border=\"1\">\n    <tr>\n        <th>Keyword</th>\n        <th>Relevance</th>\n        <th>Sentiment</th>\n        <th>Sadness</th>\n        <th>Joy</th>\n        <th>Fear</th>\n        <th>Disgust</th>\n        <th>Anger</th>\n    </tr>\n{{#features.keywords}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td>{{sentiment.score}}</td>\n        <td>{{emotion.sadness}}</td>\n        <td>{{emotion.joy}}</td>\n        <td>{{emotion.fear}}</td>\n        <td>{{emotion.disgust}}</td>\n        <td>{{emotion.anger}}</td>\n    </tr>\n{{/features.keywords}}\n</table>\n\n<h2>Concepts</h2>\n<table border=\"1\">\n    <tr>\n        <th>Concept</th>\n        <th>Relevance</th>\n        <th>DBpedia</th>\n    </tr>\n{{#features.concepts}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td><a href=\"{{dbpedia_resource}}\" target=\"_blank\">{{dbpedia_resource}}</a></td>\n    </tr>\n{{/features.concepts}}\n</table>\n\n<h2>Categories</h2>\n<table border=\"1\">\n    <tr>\n        <th>Label</th>\n        <th>Score</th>\n    </tr>\n{{#features.categories}}\n    <tr>\n        <td>{{label}}</td>\n        <td>{{score}}</td>\n    </tr>\n{{/features.categories}}\n</table>\n\n<h2>Relations</h2>\n{{#features.relations}}\n  <h3><i>{{sentence}}</i></h3>\n  <blockquote>{{type}} relation between\n  {{#arguments}}\n    \"{{text}}\"\n  {{/arguments}}\n  </blockquote>\n{{/features.relations}}\n\n\n<h2>Semantic Roles </h2>\n{{#features.semantic_roles}}\n  <h3><i>{{sentence}}</i></h3>\n  <blockquote>Subject: {{subject.text}}<br />\n  Action: {{action.text}}<br />\n  Object: {{object.text}}</blockquote>\n{{/features.semantic_roles}}\n\n<h2>Feeds</h2>\n<ul>\n{{#features.metadata.feeds}}\n  <li><a href=\"{{feed}}\" target=\"_blank\">{{feed}}</a></li>\n{{/features.metadata.feeds}}\n</ul>\n","x":990,"y":260,"wires":[["99452a.6ed0a2d8"]]},{"id":"e4d1e196.fc7a38","type":"change","z":"5f915fb1.bc23a","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":220,"wires":[["99452a.6ed0a2d8"]]},{"id":"a4874e03.1800e","type":"switch","z":"5f915fb1.bc23a","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":760,"y":240,"wires":[["e4d1e196.fc7a38"],["3d4c3a15.1736ae"]]},{"id":"87820c6a.ce9258","type":"change","z":"5f915fb1.bc23a","name":"Set Payload URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["fb380fc7.4c1e08"]]},{"id":"fb380fc7.4c1e08","type":"natural-language-understanding","z":"5f915fb1.bc23a","name":"","categories":true,"concepts":true,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":true,"relation":true,"semantic":true,"semantic-entities":true,"semantic-keywords":true,"maxsemantics":"50","x":520,"y":240,"wires":[["a4874e03.1800e"]]}]
