node-red-alchemyapi/code/3-complete-flow.json
[{"id":"a52a5f6a.88ebe","type":"alchemy-feature-extract","z":"a1d1e877.2c9248","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":461.5,"y":115,"wires":[["ab39cc90.09dbc"]]},{"id":"7377bf23.9a85d","type":"http response","z":"a1d1e877.2c9248","name":"","x":1054.5,"y":100,"wires":[]},{"id":"7c306f85.b40978","type":"http in","z":"a1d1e877.2c9248","name":"","url":"/story","method":"get","swaggerDoc":"","x":102.5,"y":114.5,"wires":[["2de74d27.db84da"]]},{"id":"3ad24504.fbc122","type":"template","z":"a1d1e877.2c9248","name":"Display Content Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>{{features.title}}</h1>\n<table>\n    <tr>\n        <td>Author</td>\n        <td>{{features.author}}</td>\n    </tr>\n    <tr>\n        <td>Document Sentiment</td>\n        <td>{{features.doc-sentiment.type}} (Score: {{features.doc-sentiment.score}})</td>\n    </tr>    \n    <tr>\n        <td>URL</td>\n        <td><a href=\"{{payload}}\" target=\"_blank\">{{payload}}</a></td>\n    </tr>\n    <tr>\n        <td>Published</td>\n        <td>{{features.pub-date.date}}</td>\n    </tr>    \n    <tr>\n        <td></td>\n        <td><a href=\"/story?format=json&url={{req.query.url}}\">View JSON</a></td>\n    </tr>    \n</table>\n\n\n<h2>Entities</h2>\n<table border=\"1\">\n    <tr>\n        <th>Entity</th>\n        <th>Type</th>\n        <th>Relevance</th>\n        <th># Occurrances</th>\n\n    </tr>    \n    {{#features.entity}}\n        <tr>\n            <td>{{text}}</td>\n            <td>{{type}}</td>\n            <td>{{relevance}}</td>\n            <td>{{count}}</td>\n        </tr>    \n    {{/features.entity}}\n</table>\n\n<h2>Keywords</h2>\n<table border=\"1\">\n    <tr>\n        <th>Keyword</th>\n        <th>Relevance</th>\n    </tr>    \n{{#features.keyword}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n    </tr>    \n{{/features.keyword}}\n</table>\n\n<h2>Concepts</h2>\n<table border=\"1\">\n    <tr>\n        <th>Concept</th>\n        <th>Relevance</th>\n        <th>DBpedia</th>\n        <th>Freebase</th>\n        <th>OpenCyc</th>\n    </tr>     \n{{#features.concept}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td><a href=\"{{dbpedia}}\" target=\"_blank\">{{dbpedia}}</a></td>\n        <td><a href=\"{{freebase}}\" target=\"_blank\">{{freebase}}</a></td>\n        <td><a href=\"{{opencyc}}\" target=\"_blank\">{{opencyc}}</a></td>\n    </tr>    \n{{/features.concept}}\n</table>\n\n<h2>Taxonomy</h2>\n<table border=\"1\">\n    <tr>\n        <th>Label</th>\n        <th>Score</th>\n        <th>Confident</th>\n    </tr>     \n{{#features.taxonomy}}\n    <tr>\n        <td>{{label}}</td>\n        <td>{{score}}</td>\n        <td>{{confident}}</td>        \n    </tr>    \n{{/features.taxonomy}}\n</table>\n\n<h2>Image</h2>\n<img src=\"{{features.page-image}}\" />","x":862.5,"y":144.5,"wires":[["7377bf23.9a85d"]]},{"id":"f99d2a4a.88ed7","type":"change","z":"a1d1e877.2c9248","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":846.5,"y":85.5,"wires":[["7377bf23.9a85d"]]},{"id":"ab39cc90.09dbc","type":"switch","z":"a1d1e877.2c9248","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":646.5,"y":115.5,"wires":[["f99d2a4a.88ed7"],["3ad24504.fbc122"]]},{"id":"80e0c096.903bb8","type":"alchemy-image-analysis","z":"a1d1e877.2c9248","name":"","apikey":"__PWRD__","image-feature":"imageFaces","x":460.5,"y":279.5,"wires":[["2ae61d1b.a9e652"]]},{"id":"f3d9384a.623358","type":"http in","z":"a1d1e877.2c9248","name":"","url":"/faces","method":"get","swaggerDoc":"","x":103,"y":280,"wires":[["a552f72c.4dc468"]]},{"id":"2ae61d1b.a9e652","type":"switch","z":"a1d1e877.2c9248","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":650,"y":279,"wires":[["e7612f3c.df3d88"],["184fe17e.388157"]]},{"id":"e7612f3c.df3d88","type":"change","z":"a1d1e877.2c9248","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":846,"y":247,"wires":[["1b1b9fb9.300cf"]]},{"id":"1b1b9fb9.300cf","type":"http response","z":"a1d1e877.2c9248","name":"","x":1053,"y":273,"wires":[]},{"id":"184fe17e.388157","type":"template","z":"a1d1e877.2c9248","name":"Display Image Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"{{payload}}\" style=\"max-width: 300px; max-height: 300px\"/>\n\n{{#result}}\n<table border=\"1\">\n    <tr>\n        <td colspan=\"2\">{{identity.name}}</td>\n    </tr>\n    <tr>\n        <td>Age</td>\n        <td>{{age.ageRange}} ({{age.score}})</td>\n    </tr>\n    <tr>\n        <td>Gender</td>\n        <td>{{gender.gender}} {{gender.score}}</td>\n    </tr>\n    <tr>\n        <td>Position</td>\n        <td>({{positionX}}, {{positionY}}) [{{width}} x {{height}}]</td>\n    </tr>\n    <tr>\n        <td>Type</td>\n        <td>\n            {{#identity.disambiguated.subType}}\n                {{.}}<br />\n            {{/identity.disambiguated.subType}}\n        </td>\n    </tr>    \n    <tr>\n        <td>References</td>\n        <td>\n            {{#identity.disambiguated.dbpedia}}\n                <a href=\"{{.}}\" target=\"_blank\">{{.}}</a><br />\n            {{/identity.disambiguated.dbpedia}}\n            {{#identity.disambiguated.freebase}}\n                <a href=\"{{.}}\" target=\"_blank\">{{.}}</a><br />\n            {{/identity.disambiguated.freebase}}\n            {{#identity.disambiguated.musicBrainz}}\n                <a href=\"{{.}}\" target=\"_blank\">{{.}}</a><br />\n            {{/identity.disambiguated.musicBrainz}}\n            {{#identity.disambiguated.yago}}\n                <a href=\"{{.}}\" target=\"_blank\">{{.}}</a><br />\n            {{/identity.disambiguated.yago}}\n            {{#identity.disambiguated.website}}\n                <a href=\"{{.}}\" target=\"_blank\">{{.}}</a><br />\n            {{/identity.disambiguated.website}}            \n        </td>\n    </tr>\n</table>\n{{/result}}","x":863,"y":311,"wires":[["1b1b9fb9.300cf"]]},{"id":"2de74d27.db84da","type":"change","z":"a1d1e877.2c9248","name":"Set Payload URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":273,"y":115,"wires":[["a52a5f6a.88ebe"]]},{"id":"a552f72c.4dc468","type":"change","z":"a1d1e877.2c9248","name":"Set Payload URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":271,"y":280,"wires":[["80e0c096.903bb8"]]}]
