node-red-alchemyapi/code/4-complete-flow.json
[{"id":"9e2c381.124a0c8","type":"http response","z":"233260a0.9542f8","name":"","x":1086,"y":124,"wires":[]},{"id":"24057c60.bec67c","type":"http in","z":"233260a0.9542f8","name":"","url":"/story","method":"get","swaggerDoc":"","x":134,"y":138.5,"wires":[["b4499e6c.a5db38"]]},{"id":"da890d65.0dc48","type":"template","z":"233260a0.9542f8","name":"Display Content Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>{{features.title}}</h1>\n<table>\n    <tr>\n        <td>Author</td>\n        <td>{{features.author}}</td>\n    </tr>\n    <tr>\n        <td>Document Sentiment</td>\n        <td>{{features.doc-sentiment.type}} (Score: {{features.doc-sentiment.score}})</td>\n    </tr>    \n    <tr>\n        <td>URL</td>\n        <td><a href=\"{{payload}}\" target=\"_blank\">{{payload}}</a></td>\n    </tr>\n    <tr>\n        <td>Published</td>\n        <td>{{features.pub-date.date}}</td>\n    </tr>    \n    <tr>\n        <td></td>\n        <td><a href=\"/story?format=json&url={{req.query.url}}\">View JSON</a></td>\n    </tr>    \n</table>\n\n\n<h2>Entities</h2>\n<table border=\"1\">\n    <tr>\n        <th>Entity</th>\n        <th>Type</th>\n        <th>Relevance</th>\n        <th># Occurrances</th>\n\n    </tr>    \n    {{#features.entity}}\n        <tr>\n            <td>{{text}}</td>\n            <td>{{type}}</td>\n            <td>{{relevance}}</td>\n            <td>{{count}}</td>\n        </tr>    \n    {{/features.entity}}\n</table>\n\n<h2>Keywords</h2>\n<table border=\"1\">\n    <tr>\n        <th>Keyword</th>\n        <th>Relevance</th>\n    </tr>    \n{{#features.keyword}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n    </tr>    \n{{/features.keyword}}\n</table>\n\n<h2>Concepts</h2>\n<table border=\"1\">\n    <tr>\n        <th>Concept</th>\n        <th>Relevance</th>\n        <th>DBpedia</th>\n        <th>Freebase</th>\n        <th>OpenCyc</th>\n    </tr>     \n{{#features.concept}}\n    <tr>\n        <td>{{text}}</td>\n        <td>{{relevance}}</td>\n        <td><a href=\"{{dbpedia}}\" target=\"_blank\">{{dbpedia}}</a></td>\n        <td><a href=\"{{freebase}}\" target=\"_blank\">{{freebase}}</a></td>\n        <td><a href=\"{{opencyc}}\" target=\"_blank\">{{opencyc}}</a></td>\n    </tr>    \n{{/features.concept}}\n</table>\n\n<h2>Taxonomy</h2>\n<table border=\"1\">\n    <tr>\n        <th>Label</th>\n        <th>Score</th>\n        <th>Confident</th>\n    </tr>     \n{{#features.taxonomy}}\n    <tr>\n        <td>{{label}}</td>\n        <td>{{score}}</td>\n        <td>{{confident}}</td>        \n    </tr>    \n{{/features.taxonomy}}\n</table>\n\n<h2>Image</h2>\n<img src=\"{{features.page-image}}\" />","x":894,"y":168.5,"wires":[["9e2c381.124a0c8"]]},{"id":"68b85b5b.087cc4","type":"change","z":"233260a0.9542f8","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":878,"y":109.5,"wires":[["9e2c381.124a0c8"]]},{"id":"9df3d552.59852","type":"switch","z":"233260a0.9542f8","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":678,"y":139.5,"wires":[["68b85b5b.087cc4"],["da890d65.0dc48"]]},{"id":"6dbcb009.cb4bf","type":"http in","z":"233260a0.9542f8","name":"","url":"/faces","method":"get","swaggerDoc":"","x":132,"y":298,"wires":[["b8b73e6a.88fcc8"]]},{"id":"7b4dfdf4.3805dc","type":"switch","z":"233260a0.9542f8","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":708.5,"y":297,"wires":[["13b0687d.510028"],["57231eb.f5e4ee"]]},{"id":"13b0687d.510028","type":"change","z":"233260a0.9542f8","name":"Set JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":904.5,"y":265,"wires":[["d7a000ea.1083b"]]},{"id":"d7a000ea.1083b","type":"http response","z":"233260a0.9542f8","name":"","x":1111.5,"y":291,"wires":[]},{"id":"57231eb.f5e4ee","type":"template","z":"233260a0.9542f8","name":"Display Image Analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n<img src=\"{{resolved_url}}\" style=\"max-width: 300px; max-height: 300px\"/>\n\n{{#faces}}\n<table border=\"1\">\n    <tr>\n        <td colspan=\"2\">{{identity.name}}</td>\n    </tr>\n    <tr>\n        <td>Age</td>\n        <td>{{age.min}} - {{age.max}} ({{age.score}})</td>\n    </tr>\n    <tr>\n        <td>Gender</td>\n        <td>{{gender.gender}} {{gender.score}}</td>\n    </tr>\n    <tr>\n        <td>Position</td>\n        <td>({{face_location.left}}, {{face_location.top}}) [{{face_location.width}} x {{face_location.height}}]</td>\n    </tr>\n    <tr>\n        <td>Type</td>\n        <td>\n            {{identity.type_hierarchy}}           \n        </td>\n    </tr>\n</table>\n{{/faces}}\n{{/result.images}}","x":921.5,"y":329,"wires":[["d7a000ea.1083b"]]},{"id":"b8b73e6a.88fcc8","type":"change","z":"233260a0.9542f8","name":"Set Payload URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":298,"wires":[["cc4a3aee.6406c8"]]},{"id":"3c3958e4.23b738","type":"alchemy-feature-extract","z":"233260a0.9542f8","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"doc-emotion":true,"x":498.5,"y":138.75,"wires":[["9df3d552.59852"]]},{"id":"cc4a3aee.6406c8","type":"visual-recognition-v3","z":"233260a0.9542f8","name":"","apikey":"__PWRD__","image-feature":"detectFaces","x":507,"y":297.75,"wires":[["7b4dfdf4.3805dc"]]},{"id":"b4499e6c.a5db38","type":"change","z":"233260a0.9542f8","name":"Set Payload URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.5,"y":139,"wires":[["3c3958e4.23b738"]]},{"id":"a2dc13b5.52d448","type":"news","z":"233260a0.9542f8","name":"","service":"AlchemyAPI-7y","key":"7eed5c63d79894807503a7e89fd9c599b2ceb324","start":"07/01/2016","end":"07/15/2016","query":"","custom":false,"queries":[{"field":"enriched.url.title","op":"cc","value":"juno"}],"results":["original.url","enriched.url.image","enriched.url.title"],"max":10,"mode":"json","x":264.5,"y":427.25,"wires":[["97512d8f.a1cc38"]]},{"id":"7d3256a2.9722f","type":"http in","z":"233260a0.9542f8","name":"","url":"/news","method":"get","swaggerDoc":"","x":131,"y":427,"wires":[["a2dc13b5.52d448"]]},{"id":"59e4f0f4.032978","type":"http response","z":"233260a0.9542f8","name":"","x":800,"y":420,"wires":[]},{"id":"ef6f0690.15024","type":"template","z":"233260a0.9542f8","name":"Display News Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.result.docs}}\n<div style=\"padding-top: 10px\">\n    {{#source.enriched.url.image}}\n        <img src=\"{{source.enriched.url.image}}\" style=\"width: 200px; vertical-align: middle\" />\n    {{/source.enriched.url.image}}\n    {{^source.enriched.url.image}}\n        <img src=\"http://placehold.it/200x100\" style=\"max-width: 200px; vertical-align: middle\" />\n    {{/source.enriched.url.image}}\n    <a href=\"{{source.original.url}}\" target=\"_blank\">{{source.enriched.url.title}}</a>\n</div>\n{{/payload.result.docs}}","x":637,"y":479,"wires":[["59e4f0f4.032978"]]},{"id":"97512d8f.a1cc38","type":"switch","z":"233260a0.9542f8","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":417,"y":427,"wires":[["59e4f0f4.032978"],["ef6f0690.15024"]]}]
