node-red-sense-hat/iot-starter/code/1-twitter-flow.json
[{"id":"4426caac.ebe84c","type":"ibmiot in","z":"727ad23.91ee1ac","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"d9c82e84e17f","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":223,"y":425,"wires":[["5b8f68ce.24ebf8","233d453d.66da8a"]]},{"id":"5b8f68ce.24ebf8","type":"function","z":"727ad23.91ee1ac","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":413,"y":425,"wires":[["b9253f1b.971f9"]]},{"id":"b9253f1b.971f9","type":"switch","z":"727ad23.91ee1ac","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":573,"y":425,"wires":[["eb06aa36.137558"],["e33a620e.af1158"]]},{"id":"7265887c.01ef8","type":"debug","z":"727ad23.91ee1ac","name":"cpu status","active":false,"complete":"false","x":913,"y":425,"wires":[]},{"id":"233d453d.66da8a","type":"debug","z":"727ad23.91ee1ac","name":"device data","active":false,"console":"false","complete":"true","x":433,"y":505,"wires":[]},{"id":"eb06aa36.137558","type":"template","z":"727ad23.91ee1ac","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":733,"y":405,"wires":[["7265887c.01ef8"]]},{"id":"e33a620e.af1158","type":"template","z":"727ad23.91ee1ac","name":"danger","template":"Temperature ({{payload}}) critical","x":743,"y":445,"wires":[["7265887c.01ef8","6c839db5.badf34"]]},{"id":"95439463.6610c","type":"ibmiot out","z":"727ad23.91ee1ac","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":693,"y":145,"wires":[]},{"id":"ba455450.e5b408","type":"inject","z":"727ad23.91ee1ac","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":223,"y":145,"wires":[["554e2771.b2f7c8"]]},{"id":"554e2771.b2f7c8","type":"function","z":"727ad23.91ee1ac","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":443,"y":145,"wires":[["95439463.6610c","d5aef316.ee3e9"]]},{"id":"d5aef316.ee3e9","type":"debug","z":"727ad23.91ee1ac","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":683,"y":205,"wires":[]},{"id":"496d7a1a.1c3ffc","type":"comment","z":"727ad23.91ee1ac","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":223,"y":65,"wires":[]},{"id":"e844aefa.d7103","type":"comment","z":"727ad23.91ee1ac","name":"1. Configure target","info":"","x":673,"y":105,"wires":[]},{"id":"8e0ae23c.cad6f8","type":"comment","z":"727ad23.91ee1ac","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":233,"y":185,"wires":[]},{"id":"276773c0.0bac04","type":"comment","z":"727ad23.91ee1ac","name":"Temperature Monitor","info":"","x":233,"y":325,"wires":[]},{"id":"77730f4a.38478","type":"comment","z":"727ad23.91ee1ac","name":"Configure source","info":"","x":223,"y":385,"wires":[]},{"id":"6c839db5.badf34","type":"delay","z":"727ad23.91ee1ac","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":853,"y":500.75,"wires":[["4181326a.8f66e4"]]},{"id":"4181326a.8f66e4","type":"twitter out","z":"727ad23.91ee1ac","twitter":"","name":"Tweet","x":996,"y":501,"wires":[]},{"id":"58d34bd8.12dca4","type":"inject","z":"727ad23.91ee1ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":318,"y":957.25,"wires":[["4ee259be.4aa1c"]]},{"id":"4ee259be.4aa1c","type":"function","z":"727ad23.91ee1ac","name":"","func":"msg.payload = {\n    type: 'temperature',\n    time: new Date().getTime(),\n    temp: Math.floor(Math.random()*100)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":947.75,"wires":[["ac1b29db.3827f8"]]},{"id":"ac1b29db.3827f8","type":"websocket out","z":"727ad23.91ee1ac","name":"","server":"574cb516.a47d44","client":"","x":637,"y":942.5,"wires":[]},{"id":"3cb89da7.d9483a","type":"websocket in","z":"727ad23.91ee1ac","name":"","server":"574cb516.a47d44","client":"","x":382,"y":1074.25,"wires":[["4e2b442a.a39c24"]]},{"id":"9ee0ddff.e6ce4","type":"debug","z":"727ad23.91ee1ac","name":"","active":true,"console":"false","complete":"true","x":783,"y":1079.5,"wires":[]},{"id":"4e2b442a.a39c24","type":"json","z":"727ad23.91ee1ac","name":"","x":584,"y":1076.75,"wires":[["9ee0ddff.e6ce4"]]},{"id":"b05542e2.5768d","type":"ibmiot in","z":"727ad23.91ee1ac","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"6609202039e2","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":316,"y":880.25,"wires":[["ac1b29db.3827f8"]]},{"id":"8d7f4b5a.61dde","type":"function","z":"727ad23.91ee1ac","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":1168.75,"wires":[[]]},{"id":"6efe70a1.a76d28","type":"switch","z":"727ad23.91ee1ac","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"}],"checkall":"true","outputs":1,"x":592,"y":1174.75,"wires":[[]]},{"id":"574cb516.a47d44","type":"websocket-listener","z":"727ad23.91ee1ac","path":"/ws/events","wholemsg":"false"}]
