lab-sense-hat/commands/code/2-subscribe-to-command.json
[{"id":"74424af3.4eeafc","type":"wiotp in","z":"7f902247.d74acc","authType":"d","deviceKey":"d937b9fd.d3f278","deviceType":"","deviceId":"","command":"display","commandType":"g","qos":0,"name":"","x":190,"y":680,"wires":[["cedda085.d20578"]]},{"id":"8a77f0c8.2a4438","type":"rpi-sensehat out","z":"7f902247.d74acc","name":"","x":570,"y":680,"wires":[]},{"id":"cedda085.d20578","type":"change","z":"7f902247.d74acc","name":"","rules":[{"t":"move","p":"payload.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":680,"wires":[["8a77f0c8.2a4438"]]},{"id":"d937b9fd.d3f278","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"raspberrypi","devId":"pidevice007","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
