lab-sense-hat/commands/code/4-complete-raspberrypi-flow.json
[{"id":"a5449f16.752398","type":"rpi-sensehat in","z":"7f902247.d74acc","name":"Environment","motion":false,"env":true,"stick":false,"x":210,"y":600,"wires":[["b50b67c5.e86ca"]]},{"id":"b50b67c5.e86ca","type":"change","z":"7f902247.d74acc","name":"","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.d.temp","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.d.humidity","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.d.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["77bbec27.8a3484"]]},{"id":"77bbec27.8a3484","type":"wiotp out","z":"7f902247.d74acc","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"d937b9fd.d3f278","deviceType":"","deviceId":"","event":"iotsensor","format":"json","qos":"0","name":"","x":540,"y":600,"wires":[]},{"id":"74424af3.4eeafc","type":"wiotp in","z":"7f902247.d74acc","authType":"d","deviceKey":"d937b9fd.d3f278","deviceType":"","deviceId":"","command":"display","commandType":"g","qos":0,"name":"","x":190,"y":680,"wires":[["cedda085.d20578"]]},{"id":"8a77f0c8.2a4438","type":"rpi-sensehat out","z":"7f902247.d74acc","name":"","x":570,"y":680,"wires":[]},{"id":"cedda085.d20578","type":"change","z":"7f902247.d74acc","name":"","rules":[{"t":"move","p":"payload.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":680,"wires":[["8a77f0c8.2a4438"]]},{"id":"d937b9fd.d3f278","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"raspberrypi","devId":"pidevice007","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
