node-red-visual-recognition/code/3-recognize-objects.json
[{"id":"effc4997.ca2318","type":"http response","z":"b9848029.646688","name":"","x":1090,"y":680,"wires":[]},{"id":"9f01116c.4a7be8","type":"http in","z":"b9848029.646688","name":"","url":"/recognize/objects","method":"get","swaggerDoc":"","x":180,"y":700,"wires":[["66ad022f.f4637c"]]},{"id":"66ad022f.f4637c","type":"switch","z":"b9848029.646688","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":350,"y":700,"wires":[["bf0a7b5.e6dc208"],["96b6590b.7afaa8"]]},{"id":"bf0a7b5.e6dc208","type":"template","z":"b9848029.646688","name":"List Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    img {\n        max-width: 100px;\n        max-height: 100px;\n    }\n</style>\n\n<h2>Visual Recognition in Node-RED</h2>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/tweed_jacket.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/tweed_jacket.jpg\"></a>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/computer_chip.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/computer_chip.jpg\"></a>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/kodak_film.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/kodak_film.jpg\"></a>\n","x":930,"y":680,"wires":[["effc4997.ca2318"]]},{"id":"7cc5f540.71e56c","type":"visual-recognition-v3","z":"b9848029.646688","name":"","image-feature":"classifyImage","lang":"en","x":710,"y":720,"wires":[["ba115f11.1b0258"]]},{"id":"96b6590b.7afaa8","type":"change","z":"b9848029.646688","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":720,"wires":[["7cc5f540.71e56c"]]},{"id":"ba115f11.1b0258","type":"template","z":"b9848029.646688","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n    <img src=\"{{source_url}}\" style=\"max-width:300px;max-height:300px\"/><br />\n    {{#classifiers}}\n        <h2>{{name}}</h2>\n        <table border=\"1\">\n            <tr>\n                <td>Class</td>\n                <td>Score</td>\n                <td>Type Hierarchy</td>\n            </tr>    \n            {{#classes}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td>\n                    <td>{{type_hierarchy}}</td>\n                </tr>\n            {{/classes}}\n        </table>\n    {{/classifiers}}\n{{/result.images}}\n","output":"str","x":920,"y":720,"wires":[["effc4997.ca2318"]]}]