node-red-visual-recognition/code/3-recognize-objects.json
[{"id":"c0c60319.e1a63","type":"http response","z":"e68e4ea.164c5b","name":"","x":1030,"y":80,"wires":[]},{"id":"e677829e.9cb3e","type":"http in","z":"e68e4ea.164c5b","name":"","url":"/recognize/objects","method":"get","swaggerDoc":"","x":120,"y":100,"wires":[["80781fb9.d301e"]]},{"id":"80781fb9.d301e","type":"switch","z":"e68e4ea.164c5b","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":290,"y":100,"wires":[["7b56ba5d.fb9974"],["c27b68e7.d738d8"]]},{"id":"7b56ba5d.fb9974","type":"template","z":"e68e4ea.164c5b","name":"List Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    img {\n        max-width: 100px;\n        max-height: 100px;\n    }\n</style>\n\n<h2>Visual Recognition in Node-RED</h2>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"></a>\n","x":870,"y":80,"wires":[["c0c60319.e1a63"]]},{"id":"648749f9.135188","type":"visual-recognition-v3","z":"e68e4ea.164c5b","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":650,"y":120,"wires":[["28d232fb.58c3de"]]},{"id":"c27b68e7.d738d8","type":"change","z":"e68e4ea.164c5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["648749f9.135188"]]},{"id":"28d232fb.58c3de","type":"template","z":"e68e4ea.164c5b","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n    <img src=\"{{source_url}}\"/><br />\n    {{#classifiers}}\n        <h2>{{name}}</h2>\n        <table border=\"1\">\n            <tr>\n                <td>Class</td>\n                <td>Score</td>\n                <td>Type Hierarchy</td>\n            </tr>    \n            {{#classes}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td>\n                    <td>{{type_hierarchy}}</td>\n                </tr>\n            {{/classes}}\n        </table>\n    {{/classifiers}}\n{{/result.images}}\n","x":860,"y":120,"wires":[["c0c60319.e1a63"]]}]
