node-red-visual-recognition/code/7-complete-flow.json
[{"id":"effc4997.ca2318","type":"http response","z":"b9848029.646688","name":"","x":1090,"y":680,"wires":[]},{"id":"9f01116c.4a7be8","type":"http in","z":"b9848029.646688","name":"","url":"/recognize/objects","method":"get","swaggerDoc":"","x":180,"y":700,"wires":[["66ad022f.f4637c"]]},{"id":"66ad022f.f4637c","type":"switch","z":"b9848029.646688","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":350,"y":700,"wires":[["bf0a7b5.e6dc208"],["96b6590b.7afaa8"]]},{"id":"bf0a7b5.e6dc208","type":"template","z":"b9848029.646688","name":"List Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    img {\n        max-width: 100px;\n        max-height: 100px;\n    }\n</style>\n\n<h2>Visual Recognition in Node-RED</h2>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/tweed_jacket.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/tweed_jacket.jpg\"></a>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/computer_chip.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/computer_chip.jpg\"></a>\n<a href=\"/recognize/objects?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/kodak_film.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/kodak_film.jpg\"></a>\n","x":930,"y":680,"wires":[["effc4997.ca2318"]]},{"id":"7cc5f540.71e56c","type":"visual-recognition-v3","z":"b9848029.646688","name":"","image-feature":"classifyImage","lang":"en","x":710,"y":720,"wires":[["ba115f11.1b0258"]]},{"id":"96b6590b.7afaa8","type":"change","z":"b9848029.646688","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":720,"wires":[["7cc5f540.71e56c"]]},{"id":"ba115f11.1b0258","type":"template","z":"b9848029.646688","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n    <img src=\"{{source_url}}\" style=\"max-width:300px;max-height:300px\"/><br />\n    {{#classifiers}}\n        <h2>{{name}}</h2>\n        <table border=\"1\">\n            <tr>\n                <td>Class</td>\n                <td>Score</td>\n                <td>Type Hierarchy</td>\n            </tr>    \n            {{#classes}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td>\n                    <td>{{type_hierarchy}}</td>\n                </tr>\n            {{/classes}}\n        </table>\n    {{/classifiers}}\n{{/result.images}}\n","output":"str","x":920,"y":720,"wires":[["effc4997.ca2318"]]},{"id":"9d490929.83bfd8","type":"http in","z":"b9848029.646688","name":"","url":"/recognize/faces","method":"get","swaggerDoc":"","x":180,"y":860,"wires":[["5d447367.b105f4"]]},{"id":"5d447367.b105f4","type":"switch","z":"b9848029.646688","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":350,"y":860,"wires":[["279d18fc.d90438"],["16a16ecc.aaf1f9"]]},{"id":"279d18fc.d90438","type":"template","z":"b9848029.646688","name":"List Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n    img {\n        max-width: 100px;\n        max-height: 100px;\n    }\n</style>\n\n<h2>Visual Recognition in Node-RED</h2>\n<a href=\"/recognize/faces?url=https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/faces.jpg\"><img src=\"https://watson-visual-recognition-duo-dev.ng.bluemix.net/images/classify/small/faces.jpg\"></a>\n","x":930,"y":840,"wires":[["9e1878b7.ba4b3"]]},{"id":"bddb1e0d.00d7c","type":"visual-recognition-v3","z":"b9848029.646688","name":"","image-feature":"detectFaces","lang":"en","x":710,"y":880,"wires":[["20b19fea.a014d"]]},{"id":"16a16ecc.aaf1f9","type":"change","z":"b9848029.646688","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":880,"wires":[["bddb1e0d.00d7c"]]},{"id":"20b19fea.a014d","type":"template","z":"b9848029.646688","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n.boxes {\n\tmargin: 0rem;\n\theight: 0rem;\n\twidth: 0rem;\n}\n\n.box-location {\n\tposition: absolute;\n\twidth: 50px;\n\theight: 50px;\n\tborder: 3px solid rgba(255, 255, 255, 0.54);\n\tborder-color: #f3f3f3;\n\ttop: 0rem;\n\tdisplay: block;\n\tmargin-top: 0rem;\n\tleft: calc(50% - 7rem);\n}\n</style>\n\n{{#result.images}}\n<img src=\"{{source_url}}\"/>\n{{#faces}}\n    <div class=\"box-location\" style=\"height: {{face_location.height}}px; left: {{face_location.left}}px; top: {{face_location.top}}px; width: {{face_location.width}}px;\"></div>\n{{/faces}}\n\n<table border=\"1\">\n        <tr>\n            <td>Gender</td>\n            <td>Age Range</td>\n            <td>Location</td>\n        </tr>    \n    {{#faces}}\n        <tr>\n            <td>{{gender.gender}} ({{gender.score}})</td>\n            <td>{{age.min}}-{{age.max}} ({{age.score}})</td>\n            <td>{{face_location.left}},{{face_location.top}} {{face_location.width}}X{{face_location.height}}</td>\n        </tr>\n    {{/faces}}\n</table>\n{{/result.images}}","x":920,"y":880,"wires":[["9e1878b7.ba4b3"]]},{"id":"9e1878b7.ba4b3","type":"http response","z":"b9848029.646688","name":"","x":1090,"y":840,"wires":[]}]