node-red-custom-nodes/application/defaults/flow.json
[{"id":"ca3cebb0.2d5728","type":"inject","z":"8d0945cc.b0da5","name":"","topic":"","payload":"[\"orange\",\"apple\",\"kiwi\",\"watermelon\"]","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["753ff341.adb3dc"]]},{"id":"64e377b7.1d57","type":"debug","z":"8d0945cc.b0da5","name":"","active":true,"console":"false","complete":"false","x":370,"y":160,"wires":[]},{"id":"753ff341.adb3dc","type":"sort","z":"8d0945cc.b0da5","orderBy":"az","name":"","x":230,"y":160,"wires":[["64e377b7.1d57"]]},{"id":"2d0bb158.f30456","type":"inject","z":"8d0945cc.b0da5","name":"","topic":"","payload":"[\"orange\",\"apple\",\"kiwi\",\"watermelon\"]","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["915d8ca5.91ce7"]]},{"id":"98a60bc9.ffcba8","type":"debug","z":"8d0945cc.b0da5","name":"","active":true,"console":"false","complete":"false","x":370,"y":220,"wires":[]},{"id":"915d8ca5.91ce7","type":"sort","z":"8d0945cc.b0da5","orderBy":"za","name":"","x":230,"y":220,"wires":[["98a60bc9.ffcba8"]]},{"id":"93c29e72.604798","type":"HTML-PDF","z":"8d0945cc.b0da5","name":"HTML-PDF","output":"buffer","x":810,"y":440,"wires":[["6e36c007.869e68"]]},{"id":"5eed5f5.ec2a02","type":"http in","z":"8d0945cc.b0da5","name":"","url":"/roster","method":"get","swaggerDoc":"","x":110,"y":440,"wires":[["f1041f41.a9fc1"]]},{"id":"fe50f80f.6d4cf8","type":"template","z":"8d0945cc.b0da5","name":"Generate HTML List","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>My Sample Event Attendees</h1>\n        <ul>\n        {{#payload}}\n            <li>{{.}}</li>\n        {{/payload}}\n        </ul>\n    </body>\n</html>\n","x":620,"y":440,"wires":[["93c29e72.604798"]]},{"id":"f1041f41.a9fc1","type":"function","z":"8d0945cc.b0da5","name":"Get Attendee List","func":"msg.payload = global.get('attendeelist') || [];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["b368b276.da309"]]},{"id":"29c3172.05f8c68","type":"http response","z":"8d0945cc.b0da5","name":"","x":1110,"y":440,"wires":[]},{"id":"6e36c007.869e68","type":"function","z":"8d0945cc.b0da5","name":"Set Headers","func":"msg.headers = {\n    'content-type': 'application/pdf'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":970,"y":440,"wires":[["29c3172.05f8c68"]]},{"id":"b368b276.da309","type":"sort","z":"8d0945cc.b0da5","orderBy":"az","name":"","x":450,"y":440,"wires":[["fe50f80f.6d4cf8"]]},{"id":"5b1c22f0.98d48c","type":"http in","z":"8d0945cc.b0da5","name":"","url":"/register","method":"get","swaggerDoc":"","x":110,"y":320,"wires":[["e8f11707.ab0648"]]},{"id":"e8f11707.ab0648","type":"template","z":"8d0945cc.b0da5","name":"Display Form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Sign In</title>\n    </head>\n    <body>\n        <form method=\"POST\">\n            <h2>Please Sign In</h2>\n            Name: <input type=\"text\" name=\"name\" /><br />\n            <input type=\"submit\" value=\"Sign In\" />\n        </form>\n    </body>\n</html>\n","x":270,"y":320,"wires":[["2653f15f.bb938e"]]},{"id":"2653f15f.bb938e","type":"http response","z":"8d0945cc.b0da5","name":"","x":410,"y":320,"wires":[]},{"id":"bbd24875.57674","type":"http in","z":"8d0945cc.b0da5","name":"","url":"/register","method":"post","swaggerDoc":"","x":110,"y":380,"wires":[["1f51487f.9feac"]]},{"id":"651535bb.3dfc2c","type":"template","z":"8d0945cc.b0da5","name":"Display Confirmation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Sign In</title>\n    </head>\n    <body>\n        <p>Thanks for signing in <b>{{payload.name}}</b>!</p>\n        <a href=\"/register\">Register another person</a>\n    </body>\n</html>\n","x":520,"y":380,"wires":[["6310f338.1ac014"]]},{"id":"6310f338.1ac014","type":"http response","z":"8d0945cc.b0da5","name":"","x":690,"y":380,"wires":[]},{"id":"1f51487f.9feac","type":"function","z":"8d0945cc.b0da5","name":"Add Attendee to List","func":"var attendeelist = global.get('attendeelist') || [];\nattendeelist.push(msg.payload.name);\nglobal.set('attendeelist', attendeelist);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["651535bb.3dfc2c"]]}]
