node-red-sense-hat/commands/code/1-send-command.json
[{"id":"aa531abc.d8f7f","type":"ui_text_input","z":"b2089942.cba68","name":"","label":"","group":"3af00bd8.7be574","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":260,"y":560,"wires":[["b184d8ab.e5557"]]},{"id":"ea418e69.c276c","type":"ibmiot out","z":"b2089942.cba68","authentication":"boundService","apiKey":"53c0a2bc.e72114","outputType":"cmd","deviceId":"pidevice007","deviceType":"raspberrypi","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":560,"wires":[]},{"id":"f8473495.1e90d8","type":"json","z":"b2089942.cba68","name":"","x":590,"y":560,"wires":[["ea418e69.c276c"]]},{"id":"b184d8ab.e5557","type":"change","z":"b2089942.cba68","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":560,"wires":[["f8473495.1e90d8"]]},{"id":"3af00bd8.7be574","type":"ui_group","z":"","name":"Display Text","tab":"378c3df.a5f8ac2","disp":true,"width":"6"},{"id":"53c0a2bc.e72114","type":"ibmiot","z":"","name":"iotworkshop"},{"id":"378c3df.a5f8ac2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
