node-red-raspberrypi-temperature/code/1-complete-flow.json
[{"id":"f5d5a80f.5d9238","type":"exec","z":"b24db144.ed3f6","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"","name":"Get CPU Temp","x":394,"y":145,"wires":[["fb218c09.0a15e"],[],[]]},{"id":"5b7ba26e.1f59b4","type":"debug","z":"b24db144.ed3f6","name":"","active":true,"console":"false","complete":"payload","x":745,"y":132,"wires":[]},{"id":"8fad907c.f7eba8","type":"inject","z":"b24db144.ed3f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":208,"y":145,"wires":[["f5d5a80f.5d9238"]]},{"id":"fb218c09.0a15e","type":"function","z":"b24db144.ed3f6","name":"","func":"msg.payload = {\"d\":{\"temp\": msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\")}};\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":132,"wires":[["5b7ba26e.1f59b4","35b500f7.dcf9b8"]]},{"id":"35b500f7.dcf9b8","type":"wiotp out","z":"b24db144.ed3f6","authType":"d","qs":"true","qsDeviceId":"35b500f7.dcf9b8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":744,"y":171,"wires":[]}]
