node-red-twitter-personality/code/5-complete-flow.js
[{"id":"8b9f7550.7daa7","type":"http request","z":"6d5d1a60.3beb94","name":"Insights for Twitter","method":"GET","ret":"obj","url":"","x":690.5,"y":54.5,"wires":[["8ffb9e7a.b8439"]]},{"id":"797ec34d.e33d4c","type":"function","z":"6d5d1a60.3beb94","name":"Concatenate Tweets","func":"msg.payload = msg.payload.tweets.map(function(tweet) {\n    return tweet.message.body;\n}).join(' ');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":388.5,"y":136.5,"wires":[["b2516c00.28cbc8"]]},{"id":"b2516c00.28cbc8","type":"watson-personality-insights","z":"6d5d1a60.3beb94","name":"","lang":"en","x":611.5,"y":137.5,"wires":[["cde05490.5673a8"]]},{"id":"2bd33bde.452dc4","type":"function","z":"6d5d1a60.3beb94","name":"Set IfT Credentials","func":"msg.url = 'https://ab123cd4-5ef6-7gh8-90i1-2jk345678lm9:aBCdefGhij@cdeservice.mybluemix.net' +\n'/api/v1/messages/search?size=500&q=' +\nmsg.payload.q;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":476.5,"y":54.5,"wires":[["8b9f7550.7daa7"]]},{"id":"1340bb81.46d71c","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/personality","method":"get","swaggerDoc":"","x":97.5,"y":61.5,"wires":[["10f36c2f.2819a4"]]},{"id":"de9b5796.3b83b8","type":"http response","z":"6d5d1a60.3beb94","name":"","x":1153.5,"y":204,"wires":[]},{"id":"95c3aec4.b846b","type":"change","z":"6d5d1a60.3beb94","name":"Return Insights","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":416.5,"y":208.5,"wires":[["9e2c358e.e402d8"]]},{"id":"cde05490.5673a8","type":"switch","z":"6d5d1a60.3beb94","name":"Personality Returned?","property":"insights","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":178,"y":230.5,"wires":[["95c3aec4.b846b"],["7d6cc976.c36988"]]},{"id":"7d6cc976.c36988","type":"template","z":"6d5d1a60.3beb94","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unable to get Personality Insights.","x":388,"y":252.5,"wires":[["a5c803a0.c30158"]]},{"id":"8ffb9e7a.b8439","type":"switch","z":"6d5d1a60.3beb94","name":"Tweets Found?","property":"payload.search.results","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":158,"y":142.5,"wires":[["797ec34d.e33d4c"],["7d6cc976.c36988"]]},{"id":"10f36c2f.2819a4","type":"switch","z":"6d5d1a60.3beb94","name":"Search Query?","property":"req.query.q","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":275,"y":61.5,"wires":[["2bd33bde.452dc4"],["7d6cc976.c36988"]]},{"id":"2eec6c4e.bb59cc","type":"watson-natural-language-classifier","z":"6d5d1a60.3beb94","name":"","mode":"create","language":"en","classifier":"","x":683,"y":998,"wires":[["70d9a7d3.aeb7e8","f55081f2.7e8cf"]]},{"id":"70d9a7d3.aeb7e8","type":"debug","z":"6d5d1a60.3beb94","name":"","active":true,"console":"false","complete":"true","x":915,"y":1090,"wires":[]},{"id":"c79569b5.814418","type":"watson-natural-language-classifier","z":"6d5d1a60.3beb94","name":"","mode":"classify","language":"en","classifier":"3a84cfx63-nlc-18222","x":760,"y":1117,"wires":[["70d9a7d3.aeb7e8","f55081f2.7e8cf"]]},{"id":"1489e9a0.ed1e5e","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/classify","method":"get","swaggerDoc":"","x":150,"y":1122,"wires":[["9ffe229a.18d94"]]},{"id":"333cee03.017aaa","type":"switch","z":"6d5d1a60.3beb94","name":"Search Query?","property":"payload.q","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":353,"y":1181,"wires":[["6183caaa.d15a4c"],["1ff3b514.5a55e3"]]},{"id":"f55081f2.7e8cf","type":"http response","z":"6d5d1a60.3beb94","name":"","x":945,"y":967,"wires":[]},{"id":"1ff3b514.5a55e3","type":"template","z":"6d5d1a60.3beb94","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unable to get Personality Insights.","x":668,"y":1225,"wires":[["f55081f2.7e8cf"]]},{"id":"6183caaa.d15a4c","type":"change","z":"6d5d1a60.3beb94","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.q","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1143.5,"wires":[["c79569b5.814418"]]},{"id":"42d777f4.9bc918","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/train","method":"get","swaggerDoc":"","x":139,"y":940,"wires":[["6fdb4335.755dc4"]]},{"id":"6fdb4335.755dc4","type":"template","z":"6d5d1a60.3beb94","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form method=\"POST\">\n    <textarea name=\"classifications\">How hot is it today?,temperature\nIs it hot outside?,temperature\nWill it be uncomfortably hot?,temperature\nWill it be sweltering?,temperature\nHow cold is it today?,temperature\nIs it cold outside?,temperature\nWill it be uncomfortably cold?,temperature\nWill it be frigid?,temperature\nWhat is the expected high for today?,temperature\nWhat is the expected temperature?,temperature\nWill high temperatures be dangerous?,temperature\nIs it dangerously cold?,temperature\nWhen will the heat subside?,temperature\nIs it hot?,temperature\nIs it cold?,temperature\nHow cold is it now?,temperature\nWill we have a cold day today?,temperature\nWhen will the cold subside?,temperature\nWhat highs are we expecting?,temperature\nWhat lows are we expecting?,temperature\nIs it warm?,temperature\nIs it chilly?,temperature\nWhat's the current temp in Celsius?,temperature\nWhat is the temperature in Fahrenheit?,temperature\nIs it windy?,conditions\nWill it rain today?,conditions\nWhat are the chances for rain?,conditions\nWill we get snow?,conditions\nAre we expecting sunny conditions?,conditions\nIs it overcast?,conditions\nWill it be cloudy?,conditions\nHow much rain will fall today?,conditions\nHow much snow are we expecting?,conditions\nIs it windy outside?,conditions\nHow much snow do we expect?,conditions\nIs the forecast calling for snow today?,conditions\nWill we see some sun?,conditions\nWhen will the rain subside?,conditions\nIs it cloudy?,conditions\nIs it sunny now?,conditions\nWill it rain?,conditions\nWill we have much snow?,conditions\nAre the winds dangerous?,conditions\nWhat is the expected snowfall today?,conditions\nWill it be dry?,conditions\nWill it be breezy?,conditions\nWill it be humid?,conditions\nWhat is today's expected humidity?,conditions\nWill the blizzard hit us?,conditions\nIs it drizzling?,conditions</textarea><br />\n    <input type=\"submit\" value=\"Train\" />\n</form>","x":599,"y":939,"wires":[["f55081f2.7e8cf"]]},{"id":"fc7d4f19.5de338","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/train","method":"post","swaggerDoc":"","x":128,"y":977,"wires":[["6602b0ca.20c9b8"]]},{"id":"6602b0ca.20c9b8","type":"switch","z":"6d5d1a60.3beb94","name":"Search Query?","property":"payload.classifications","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":303,"y":980,"wires":[["902fab00.f278c"],["6fdb4335.755dc4"]]},{"id":"902fab00.f278c","type":"change","z":"6d5d1a60.3beb94","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.classifications","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469,"y":1027.5,"wires":[["2eec6c4e.bb59cc"]]},{"id":"9ffe229a.18d94","type":"watson-natural-language-classifier","z":"6d5d1a60.3beb94","name":"","mode":"list","language":"en","classifier":"","x":366,"y":1087,"wires":[["c4de8773.7b9f98"]]},{"id":"79f6368e.d7b9c8","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/classify","method":"post","swaggerDoc":"","x":151,"y":1185,"wires":[["333cee03.017aaa"]]},{"id":"c4de8773.7b9f98","type":"template","z":"6d5d1a60.3beb94","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form method=\"POST\">\n    <textarea name=\"text\"></textarea><br />\n    <select name=\"classifier\">\n        {{#payload.classifiers}}\n            <option value=\"{{classifier_id}}\">{{classifier_id}}</option>\n        {{/payload.classifiers}}\n    </select>\n    <input type=\"submit\" value=\"Train\" />\n</form>","x":592,"y":1068,"wires":[["f55081f2.7e8cf"]]},{"id":"293104a5.e18ac4","type":"template","z":"6d5d1a60.3beb94","name":"Display Analysis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Twitter Personality</title>\n    </head>\n    <body>\n        {{#payload.personality}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}}\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})\n                                    <ul>\n                                        {{#children}}\n                                            <li>{{name}} ({{percentage}})</li>\n                                        {{/children}}\n                                    </ul>\n                                </li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.personality}} \n    \n        {{#payload.needs}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentage}})\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})</li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.needs}} \n \n        {{#payload.values}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentage}})\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})</li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.values}}     \n    </body>\n</html>","x":968,"y":227,"wires":[["a5c803a0.c30158"]]},{"id":"a5c803a0.c30158","type":"function","z":"6d5d1a60.3beb94","name":"Set Response Headers","func":"msg.headers = {'content-type': 'text/html'};\nreturn msg;\n","outputs":1,"noerr":0,"x":1098,"y":265.5,"wires":[["de9b5796.3b83b8"]]},{"id":"9e2c358e.e402d8","type":"switch","z":"6d5d1a60.3beb94","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":608,"y":209,"wires":[["de9b5796.3b83b8"],["e850fba3.e4add"]]},{"id":"e850fba3.e4add","type":"function","z":"6d5d1a60.3beb94","name":"Process Results","func":"msg.payload = {\n    personality: msg.payload.children[0],\n    needs: msg.payload.children[1],\n    values: msg.payload.children[2],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":789,"y":227.5,"wires":[["293104a5.e18ac4"]]}]
