node-red-twitter-personality/code/5-complete-flow.js
[{"id":"8b9f7550.7daa7","type":"http request","z":"6d5d1a60.3beb94","name":"Insights for Twitter","method":"GET","ret":"obj","url":"","x":632.5,"y":54.5,"wires":[["8ffb9e7a.b8439"]]},{"id":"797ec34d.e33d4c","type":"function","z":"6d5d1a60.3beb94","name":"Concatenate Tweets","func":"msg.payload = msg.payload.tweets.map(function(tweet) {\n    return tweet.message.body;\n}).join(' ');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":388.5,"y":136.5,"wires":[["b2516c00.28cbc8"]]},{"id":"b2516c00.28cbc8","type":"watson-personality-insights","z":"6d5d1a60.3beb94","name":"","lang":"en","x":611.5,"y":137.5,"wires":[["cde05490.5673a8"]]},{"id":"2bd33bde.452dc4","type":"function","z":"6d5d1a60.3beb94","name":"Set URL","func":"msg.url = 'https://cdeservice.mybluemix.net/api/v1/messages/search?size=500&q='+msg.payload.q;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":446.5,"y":54.5,"wires":[["8b9f7550.7daa7"]]},{"id":"1340bb81.46d71c","type":"http in","z":"6d5d1a60.3beb94","name":"","url":"/personality","method":"get","swaggerDoc":"","x":97.5,"y":61.5,"wires":[["10f36c2f.2819a4"]]},{"id":"de9b5796.3b83b8","type":"http response","z":"6d5d1a60.3beb94","name":"","x":1153.5,"y":204,"wires":[]},{"id":"95c3aec4.b846b","type":"change","z":"6d5d1a60.3beb94","name":"Return Insights","rules":[{"t":"set","p":"payload","pt":"msg","to":"insights","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":416.5,"y":208.5,"wires":[["9e2c358e.e402d8"]]},{"id":"cde05490.5673a8","type":"switch","z":"6d5d1a60.3beb94","name":"Personality Returned?","property":"insights","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":178,"y":230.5,"wires":[["95c3aec4.b846b"],["7d6cc976.c36988"]]},{"id":"7d6cc976.c36988","type":"template","z":"6d5d1a60.3beb94","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unable to get Personality Insights.","x":388,"y":252.5,"wires":[["a5c803a0.c30158"]]},{"id":"8ffb9e7a.b8439","type":"switch","z":"6d5d1a60.3beb94","name":"Tweets Found?","property":"payload.search.results","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":158,"y":142.5,"wires":[["797ec34d.e33d4c"],["7d6cc976.c36988"]]},{"id":"10f36c2f.2819a4","type":"switch","z":"6d5d1a60.3beb94","name":"Search Query?","property":"req.query.q","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":275,"y":61.5,"wires":[["2bd33bde.452dc4"],["7d6cc976.c36988"]]},{"id":"293104a5.e18ac4","type":"template","z":"6d5d1a60.3beb94","name":"Display Analysis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Twitter Personality</title>\n    </head>\n    <body>\n        {{#payload.personality}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}}\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})\n                                    <ul>\n                                        {{#children}}\n                                            <li>{{name}} ({{percentage}})</li>\n                                        {{/children}}\n                                    </ul>\n                                </li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.personality}} \n    \n        {{#payload.needs}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentage}})\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})</li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.needs}} \n \n        {{#payload.values}}\n            <h2>{{name}}</h2>\n            <ul>\n                {{#children}}\n                    <li>{{name}} ({{percentage}})\n                        <ul>\n                            {{#children}}\n                                <li>{{name}} ({{percentage}})</li>\n                            {{/children}}\n                        </ul>\n                    </li>\n                {{/children}}\n            </ul>\n        {{/payload.values}}     \n    </body>\n</html>","x":968,"y":227,"wires":[["a5c803a0.c30158"]]},{"id":"a5c803a0.c30158","type":"function","z":"6d5d1a60.3beb94","name":"Set Response Headers","func":"msg.headers = {'content-type': 'text/html'};\nreturn msg;\n","outputs":1,"noerr":0,"x":1098,"y":265.5,"wires":[["de9b5796.3b83b8"]]},{"id":"9e2c358e.e402d8","type":"switch","z":"6d5d1a60.3beb94","name":"Return JSON?","property":"req.query.format","propertyType":"msg","rules":[{"t":"eq","v":"json","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":608,"y":209,"wires":[["de9b5796.3b83b8"],["e850fba3.e4add"]]},{"id":"e850fba3.e4add","type":"function","z":"6d5d1a60.3beb94","name":"Process Results","func":"msg.payload = {\n    personality: msg.payload.children[0],\n    needs: msg.payload.children[1],\n    values: msg.payload.children[2],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":789,"y":227.5,"wires":[["293104a5.e18ac4"]]}]
