lab-sense-hat/iot-starter/code/4-save-temp-flow.json
[{"id":"1ab4a3cb.2afdec","type":"ibmiot in","z":"3687cca.d7e0f34","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":186,"y":394,"wires":[["3077fceb.80a20c","24dd3638.12f3da","f8ccdc84.deff2"]]},{"id":"3077fceb.80a20c","type":"function","z":"3687cca.d7e0f34","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":376,"y":394,"wires":[["ec38a9db.825b08"]]},{"id":"ec38a9db.825b08","type":"switch","z":"3687cca.d7e0f34","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":536,"y":394,"wires":[["db5b9f71.f1fca8"],["5315017e.0a9d3"]]},{"id":"24237db6.bf9fea","type":"debug","z":"3687cca.d7e0f34","name":"cpu status","active":false,"complete":"false","x":876,"y":394,"wires":[]},{"id":"24dd3638.12f3da","type":"debug","z":"3687cca.d7e0f34","name":"device data","active":false,"console":"false","complete":"true","x":396,"y":474,"wires":[]},{"id":"db5b9f71.f1fca8","type":"template","z":"3687cca.d7e0f34","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":696,"y":374,"wires":[["24237db6.bf9fea"]]},{"id":"5315017e.0a9d3","type":"template","z":"3687cca.d7e0f34","name":"danger","template":"Temperature ({{payload}}) critical","x":706,"y":414,"wires":[["24237db6.bf9fea","663a2f52.8d2db8"]]},{"id":"b0652e30.00e8a","type":"ibmiot out","z":"3687cca.d7e0f34","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":656,"y":114,"wires":[]},{"id":"20401c1d.310c04","type":"inject","z":"3687cca.d7e0f34","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":186,"y":114,"wires":[["14d17b6c.6087a5"]]},{"id":"14d17b6c.6087a5","type":"function","z":"3687cca.d7e0f34","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":406,"y":114,"wires":[["b0652e30.00e8a","c4972a15.90b928"]]},{"id":"c4972a15.90b928","type":"debug","z":"3687cca.d7e0f34","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":646,"y":174,"wires":[]},{"id":"84c6a7c0.50d358","type":"comment","z":"3687cca.d7e0f34","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":186,"y":34,"wires":[]},{"id":"b2aaaf03.c72288","type":"comment","z":"3687cca.d7e0f34","name":"1. Configure target","info":"","x":636,"y":74,"wires":[]},{"id":"db529b7.d33c668","type":"comment","z":"3687cca.d7e0f34","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":196,"y":154,"wires":[]},{"id":"daa76abb.fcee48","type":"comment","z":"3687cca.d7e0f34","name":"Temperature Monitor","info":"","x":196,"y":294,"wires":[]},{"id":"a328371e.c0d9b8","type":"comment","z":"3687cca.d7e0f34","name":"Configure source","info":"","x":186,"y":354,"wires":[]},{"id":"663a2f52.8d2db8","type":"delay","z":"3687cca.d7e0f34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":816,"y":469.75,"wires":[["15f9fa51.8a86d6","da78902f.654438"]]},{"id":"15f9fa51.8a86d6","type":"twilio out","z":"3687cca.d7e0f34","service":"_ext_","from":"","number":"","name":"","x":957,"y":512.5,"wires":[]},{"id":"da78902f.654438","type":"twitter out","z":"3687cca.d7e0f34","twitter":"","name":"Tweet","x":959,"y":470,"wires":[]},{"id":"f8ccdc84.deff2","type":"delay","z":"3687cca.d7e0f34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":407,"y":322.25,"wires":[["f91f491f.12763"]]},{"id":"f91f491f.12763","type":"function","z":"3687cca.d7e0f34","name":"","func":"return {\n    payload: {\n        time: new Date().getTime(),\n        temp: msg.payload.d.temp\n    }\n};\n","outputs":1,"noerr":0,"x":568,"y":322.25,"wires":[["c139c9a7.d57c08"]]},{"id":"c139c9a7.d57c08","type":"cloudant out","z":"3687cca.d7e0f34","name":"","cloudant":"","database":"temperatures","service":"myapp-cloudantNoSQLDB","payonly":true,"operation":"insert","x":717,"y":322.75,"wires":[]}]
