node-red-tjbot/emotional-light/code/flow.json
[{"id":"16d17987.5cc54e","type":"inject","z":"4f8a700b.20a01","name":"Start Listening","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":650,"y":180,"wires":[["c9f52996.1ee07"]]},{"id":"275370c7.0be078","type":"inject","z":"4f8a700b.20a01","name":"Stop Listening","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":650,"y":220,"wires":[["c9f52996.1ee07"]]},{"id":"c9f52996.1ee07","type":"change","z":"4f8a700b.20a01","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["f5be37c7.1a3d7"]]},{"id":"f5be37c7.1a3d7","type":"tjbot-listen","z":"4f8a700b.20a01","botId":"726306dc.1b854","name":"","x":970,"y":200,"wires":[["b6c949cb.fe603"]]},{"id":"b6c949cb.fe603","type":"tjbot-analyze-tone","z":"4f8a700b.20a01","botId":"726306dc.1b854","tones":"emotion","name":"","x":1110,"y":200,"wires":[["a49b332e.b6a468"]]},{"id":"a49b332e.b6a468","type":"function","z":"4f8a700b.20a01","name":"Find Top Emotion","func":"var emotions = msg.response.tones;\n\nmsg.payload = emotions[Object.keys(emotions)\n            .reduce(function(a, b){ \n                return emotions[a].score > emotions[b].score ? a : b \n            \n            })];\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":200,"wires":[["21febe80.567b32"]]},{"id":"21febe80.567b32","type":"switch","z":"4f8a700b.20a01","name":"","property":"payload.tone_id","propertyType":"msg","rules":[{"t":"eq","v":"anger","vt":"str"},{"t":"eq","v":"disgust","vt":"str"},{"t":"eq","v":"fear","vt":"str"},{"t":"eq","v":"joy","vt":"str"},{"t":"eq","v":"sadness","vt":"str"}],"checkall":"false","outputs":5,"x":1450,"y":200,"wires":[["2319f08c.cb62c8"],["b4bd2a64.f9827"],["8816618d.4eae08"],["27c3f16c.633f5e"],["3938af26.078ff8"]]},{"id":"2319f08c.cb62c8","type":"tjbot-shine","z":"4f8a700b.20a01","botId":"726306dc.1b854","mode":"shine","color":"red","duration":"","name":"","x":1600,"y":120,"wires":[]},{"id":"b4bd2a64.f9827","type":"tjbot-shine","z":"4f8a700b.20a01","botId":"726306dc.1b854","mode":"shine","color":"magenta","duration":"","name":"","x":1620,"y":160,"wires":[]},{"id":"8816618d.4eae08","type":"tjbot-shine","z":"4f8a700b.20a01","botId":"726306dc.1b854","mode":"shine","color":"green","duration":"","name":"","x":1610,"y":200,"wires":[]},{"id":"27c3f16c.633f5e","type":"tjbot-shine","z":"4f8a700b.20a01","botId":"726306dc.1b854","mode":"shine","color":"yellow","duration":"","name":"","x":1610,"y":240,"wires":[]},{"id":"3938af26.078ff8","type":"tjbot-shine","z":"4f8a700b.20a01","botId":"726306dc.1b854","mode":"shine","color":"blue","duration":"","name":"","x":1610,"y":280,"wires":[]},{"id":"726306dc.1b854","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","hasLED":true,"hasServo":false,"speakerDeviceId":"plughw:0,0"}]
