node-red-tjbot/emotional-light/code/flow.json
[{"id":"be5ba3e9.8fdf9","type":"inject","z":"79c2913a.2dcaf8","name":"Stop Listening","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":540,"wires":[["3f64855a.631952"]]},{"id":"4367385a.45933","type":"inject","z":"79c2913a.2dcaf8","name":"Start Listening","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":500,"wires":[["3f64855a.631952"]]},{"id":"3f64855a.631952","type":"change","z":"79c2913a.2dcaf8","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["92d8a8f2.dcc008"]]},{"id":"92d8a8f2.dcc008","type":"tjbot-listen","z":"79c2913a.2dcaf8","botId":"cb390aae.c7f17","name":"","x":610,"y":520,"wires":[["260effa9.336358"]]},{"id":"bf7aed63.98418","type":"comment","z":"79c2913a.2dcaf8","name":"21 Say What You See","info":"","x":260,"y":620,"wires":[]},{"id":"260effa9.336358","type":"tjbot-analyze-tone","z":"79c2913a.2dcaf8","botId":"cb390aae.c7f17","tones":"emotion","name":"","x":770,"y":520,"wires":[["8846c894.f882d"]]},{"id":"8846c894.f882d","type":"function","z":"79c2913a.2dcaf8","name":"Find Top Emotion","func":"var emotions = msg.response.tones;\n\nmsg.payload = emotions[Object.keys(emotions)\n            .reduce(function(a, b){ \n                return emotions[a].score > emotions[b].score ? a : b \n            \n            })];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":970,"y":520,"wires":[["6341f57d.a6ba5c"]]},{"id":"6341f57d.a6ba5c","type":"switch","z":"79c2913a.2dcaf8","name":"","property":"payload.tone_id","propertyType":"msg","rules":[{"t":"eq","v":"anger","vt":"str"},{"t":"eq","v":"disgust","vt":"str"},{"t":"eq","v":"fear","vt":"str"},{"t":"eq","v":"joy","vt":"str"},{"t":"eq","v":"sadness","vt":"str"}],"checkall":"true","outputs":5,"x":1134.9999961853027,"y":523.9999656677246,"wires":[["1530a09f.4e629f"],["dbd3bcbf.3a5a18"],["7628c97e.9b6208"],["182a9508.b40abb"],["94119bd4.dd937"]]},{"id":"1530a09f.4e629f","type":"tjbot-shine","z":"79c2913a.2dcaf8","botId":"84f1abc1.a1662","mode":"shine","color":"red","duration":"","name":"","x":1284.9999961853027,"y":443.9999656677246,"wires":[]},{"id":"dbd3bcbf.3a5a18","type":"tjbot-shine","z":"79c2913a.2dcaf8","botId":"84f1abc1.a1662","mode":"shine","color":"magenta","duration":"","name":"","x":1304.9999961853027,"y":483.9999656677246,"wires":[]},{"id":"94119bd4.dd937","type":"tjbot-shine","z":"79c2913a.2dcaf8","botId":"84f1abc1.a1662","mode":"shine","color":"blue","duration":"","name":"","x":1294.9999961853027,"y":603.9999656677246,"wires":[]},{"id":"182a9508.b40abb","type":"tjbot-shine","z":"79c2913a.2dcaf8","botId":"84f1abc1.a1662","mode":"shine","color":"yellow","duration":"","name":"","x":1294.9999961853027,"y":563.9999656677246,"wires":[]},{"id":"7628c97e.9b6208","type":"tjbot-shine","z":"79c2913a.2dcaf8","botId":"84f1abc1.a1662","mode":"shine","color":"green","duration":"","name":"","x":1294.9999961853027,"y":523.9999656677246,"wires":[]},{"id":"cb390aae.c7f17","type":"tjbot-config","z":"","botGender":"male","name":"","listen":"en-US","speak":"en-US","hasLED":true,"hasServo":true},{"id":"84f1abc1.a1662","type":"tjbot-config","z":"","botGender":"male","name":"TJBot","listen":"en-US","speak":"en-US","hasLED":true,"hasServo":false}]
